[2019-11-27 00:08] iredelmeier opened #1 "Fix license"

[2019-11-27 00:14] iredelmeier opened #3 "Add CODEOWNERS and corresponding permissions"
Let's make sure everyone has permission to review (and that PRs actually require appropriate checks!), get assigned issues, etc.

[2019-11-27 21:06] iredelmeier opened #4 "Split Jaeger exporter into its own crate"
This will remove the main crate's dependency on Jaeger.

See the [cargo workspace docs](https://doc.rust-lang.org/cargo/reference/manifest.html#the-workspace-section) for more info on how we can accomplish this.

[2019-11-27 21:07] iredelmeier opened #5 "Split Prometheus exporter into its own crate"
This will remove the main crate's dependency on Prometheus.

See the [cargo workspace docs](https://doc.rust-lang.org/cargo/reference/manifest.html#the-workspace-section) for more info on how we can accomplish this.

[2019-11-27 21:08] iredelmeier opened #6 "Consider using Options instead of Noop implementations"
We should probably spike on this in a PR to see the implications on semantics, implementation, etc.

[2019-11-27 21:13] iredelmeier commented on #4
This might be a bit trickier than I initially thought since the SDK currently depends on code from the Jaeger exporter.

[2019-11-27 21:14] iredelmeier commented on #5
This is a bit trickier than I initially thought since the SDK currently depends on code from the Prometheus exporter.

[2019-11-27 21:16] iredelmeier opened #7 "Remove add_link method from Spans"
Per the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/e6cd52d034c981ca4fcf896ccd7464e783589c0f/specification/api-tracing.md#add-links), links can only be added at span creation time.

See open-telemetry/opentelemetry-go#329 for a similar issue.

[2019-11-27 21:20] iredelmeier opened #8 "Rename HttpTraceContextPropagator -> TraceContextPropagator"
This propagator is multi-purpose, i.e., valuable for use cases other than HTTP.

See also open-telemetry/opentelemetry-go#355.

[2019-11-27 21:21] iredelmeier opened #9 "Rename HttpB3Propagator -> B3Propagator"
This propagator is multi-purpose, i.e., valuable for use cases other than HTTP.

See also open-telemetry/opentelemetry-go#355.

[2019-11-27 21:24] iredelmeier opened #10 "Configure CI"
Note that we'll need an admin to configure the repo for this, e.g., to require that PRs pass checks.

[2019-11-27 21:26] iredelmeier opened #11 "Consider using newtypes for trace and span ID types"

[2019-11-27 21:27] iredelmeier opened #12 "Consider using byte arrays for trace and span IDs"
See open-telemetry/opentelemetry-go#183 for a similar issue.

[2019-11-27 21:31] iredelmeier opened #13 "Add support for additional span creation options"
I'm not sure what this would look like: maybe returning a `SpanBuilder` from `start`?

[2019-11-27 21:33] iredelmeier opened #14 "End time should be configurable"
Per the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/e6cd52d034c981ca4fcf896ccd7464e783589c0f/specification/api-tracing.md#end).

[2019-11-27 21:35] iredelmeier commented on #14
This might be easier if spans as they exist now were instead builders, and only _become_ spans on `end`? #13 touches on this a bit.

[2019-11-27 21:39] iredelmeier opened #15 "How should spans be stored for in-process propagation purposes?"
Propagating spans across different components can be a pain, especially if not all components currently "expect" a span.

Some sort of context-local variable (along the lines of [Python's contextvars](https://www.python.org/dev/peps/pep-0555/)) might be useful here.

[2019-11-27 21:41] iredelmeier opened #16 "Add stdout trace exporter"
A stdout exporter (or something that can exporter to a [`Write`r](https://doc.rust-lang.org/std/io/trait.Write.html) can be really valuable, especially for dev purposes.

The [go stdout trace exporter](https://github.com/open-telemetry/opentelemetry-go/tree/e6d725626d4629220a2de0112570adf80d50be21/exporter/trace/stdout) might be useful inspiration.

[2019-11-27 21:42] iredelmeier opened #17 "Add stdout metric exporter"
A stdout exporter (or something that can exporter to a [`Write`r](https://doc.rust-lang.org/std/io/trait.Write.html) can be really valuable, especially for dev purposes.

The [go stdout metric exporter](https://github.com/open-telemetry/opentelemetry-go/tree/e6d725626d4629220a2de0112570adf80d50be21/exporter/metric/stdout) might be useful inspiration.

[2019-11-27 21:49] hawkw commented on #15
IMO, this should be the responsibility of higher-level crates that depend on `opentelemetry-rust`; for example, [`tracing-opentelemetry`](https://github.com/jtescher/tracing-opentelemetry) provides an implementation that uses the `tracing` crate to propagate span contexts.

Rust doesn't have anything like the Python `contextvars` you mentioned in the language or standard library, but there are var

[2019-11-27 21:54] iredelmeier commented on #15
@hawkw I agree with you re: keeping the main crate unopinionated. Providing an interface sounds good to me!

However, I think providing at least one async-compatible implementation of that interface may be valuable - possibly in its own subcrate.

[2019-11-27 21:58] iredelmeier opened #18 "Fix clippy problems"
At issue creation time, there are 68 clippy errors. Most (all?) look to be [unreadable literals](https://rust-lang.github.io/rust-clippy/master/index.html#unreadable_literal).

[2019-11-27 22:01] hawkw commented on #15
"async-compatible" complicates this a bit — I think the approach used by the [`tracing-futures`][1] crate of providing [a combinator that sets a thread-local context when a future is polled][2] is really the only way to do this that will work across all executor implementations without requiring APIs that tie us to a specific async runtime. We could definitely provide our own _sui generis_ impleme

[2019-11-27 22:04] iredelmeier commented on #15
Definitely not 100% sure that it would be a good idea! However, propagation has been one of the biggest hurdles to adoption for other languages, so I think we need _some_ way of making it at least easy-ish.

[2019-11-27 23:06] jtescher commented on #4
Could possibly add a `trace` feature that would accomplish a similar goal considering that currently there is only jaeger support

[2019-11-27 23:06] jtescher commented on #5
This could also be a `metrics` feature, making the dependency optional

[2019-11-27 23:31] jtescher opened #21 "Span lifetime / active span state"
Currently spans are stored in a [thread local span stack](https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/sdk/trace/tracer.rs#L32), and either manually added and removed via [mark_span_as_active](https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/api/trace/tracer.rs#L78) / [mark_span_as_inactive](https://github.com/open-telemetry/opentelemetry-rust/blob/maste

[2019-11-27 23:46] jtescher opened #22 "Metric option configuration"
Current `MetricOptions` implementation does not work for [with_monotonic](https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/api/metrics/mod.rs#L137). The issue is the options do not know which instrument they are being created for.

We could consider moving to returning builders instead of accepting all options here?

[2019-11-28 00:01] jtescher opened #23 "Store span kind"
Currently span kind can only be assigned by setting the `span.kind` attribute. Span kind should be explicitly assignable when creating spans.

[2019-11-28 00:10] jtescher opened #24 "Support named meters using global module"
Named meters should be available to different parts of the application.

See also https://github.com/open-telemetry/opentelemetry-go/pull/258

[2019-11-28 00:21] jtescher opened #25 "Span status management"
Implement span status management according to the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/c6f214d3fef8b5b876cd8b14268a7158d42703d8/specification/api-tracing.md#status). Currently status is being ignored as the underlying [rustracing_jaeger](https://github.com/sile/rustracing_jaeger) does not have a way to track this information.

[2019-11-28 00:25] #8 closed

[2019-11-28 00:27] iredelmeier commented on #21
See also #15 (I think they're related but separate)

[2019-11-28 02:52] jtescher commented on #15
Currently the `mark_span_as_active` API is opt-in, but it does have quite a few rough edges, hence #21. `tracing-opentelemetry` works just fine without using it as @hawkw mentioned.

[2019-11-28 03:11] jtescher opened #26 "Consider adding a prelude"
Because of the API/SDK split there are a considerable amount of imports in order to use the types in this crate. e.g. https://github.com/open-telemetry/opentelemetry-rust/blob/master/examples/basic.rs#L1-L5

For ergonomic reasons, we could consider adding a prelude that could include the core API traits

[2019-12-01 19:57] zoidbergwill commented on #16
I took a go at this, but it's gonna take a bit of work for us to better separate Jaeger from the core tracer, then this'll be easier to tackle.

Since the [`sdk::trace::Tracer`](https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/sdk/trace/tracer.rs#L20) relies on a `Jaeger::Tracer`

[2019-12-01 20:09] zoidbergwill commented on #16
I think the same will be true for https://github.com/open-telemetry/opentelemetry-rust/issues/17 and the Prometheus stuff.

[2019-12-01 21:44] jtescher commented on #16
Clarifying the references between Provider <-> Tracer <-> Span, and how finished spans will get to a processor/exporter would be useful as well. Currently [rustracing_jaeger](https://github.com/sile/rustracing_jaeger) relies on crossbeam-channel and [the examples use a separate thread which listens to messges sent by spans on drop](https://github.com/sile/rustracing_jaeger/blob/master/examples/htt

[2019-12-02 18:40] #9 closed

[2019-12-02 18:46] #18 closed

[2019-12-02 19:08] #7 closed

[2019-12-02 19:16] bogdandrutu opened #32 "Please setup CODEOWNERS."

[2019-12-02 19:35] iredelmeier commented on #32
Closing as a duplicate of #3

@bogdandrutu I believe you only the TC has the power to do this (per open-telemetry/community#262) 🙃

[2019-12-02 19:35] #32 closed

[2019-12-02 19:48] iredelmeier commented on #3
Closed by #33

[2019-12-02 19:48] #3 closed

[2019-12-02 21:20] #10 closed

[2019-12-02 21:53] iredelmeier commented on #22
The question of what to return seems similar to the current span situation, per #13 and #14. It would be nice to be able to use consistent patterns across both 🤞

[2019-12-02 23:55] #1 closed

[2019-12-03 15:45] iredelmeier commented on #15
[From 12/03/19 SIG meeting]

The current scope management likely doesn't work with Futures.

[2019-12-03 15:48] iredelmeier opened #35 "Add basic async example"
Note that async may not work yet, per https://github.com/open-telemetry/opentelemetry-rust/issues/15#issuecomment-561226817

[2019-12-03 15:49] iredelmeier commented on #23
[From 12/03/19 SIG meeting]

This is likely blocked for now by #4

[2019-12-03 16:04] iredelmeier opened #36 "Add link to Gitter room in README"

[2019-12-03 16:11] MikeGoldsmith opened #37 "Add project description to README"
Add the following to README:
- Current state of project
- Active working targets
- Milestones with estimated release schedule

[2019-12-03 16:24] VineethReddy02 commented on #36
Hey!
I don't see any room with name opentelemetry-rust. I was expecting rust room with the same name as go opentelemetry-go. Can someone point me the gitter room for rust.

[2019-12-03 16:29] iredelmeier commented on #36
@VineethReddy02 https://gitter.im/open-telemetry/opentelemetry-rust

Want me to assign this to you?

[2019-12-03 18:09] VineethReddy02 commented on #36
Yesh! I can take this up.

[2019-12-03 18:35] jtescher commented on #6
@iredelmeier could you elaborate here a bit? Are you thinking it the SDK would accept and produce options instead of a separate impl?

[2019-12-03 20:32] jtescher opened #38 "Swap out rustracing_jaeger for jaeger exporter"
Currently the span exporter infrastructure is bypassed because of [rustracing_jaeger](https://github.com/sile/rustracing_jaeger)'s implementation which reports spans on drop by sending them over a `crossbeam-channel`.

We should consider switching to use the [thrift](https://crates.io/crates/thrift) crate directly and generate a client as that would provide the majority of the implementation that

[2019-12-03 22:28] hawkw commented on #6
IMO, I think it's better for noops to be separate types; that way the dispatch is done statically & it's encoded in the type system. `Option` implies a bunch of runtime checks to me?

[2019-12-05 00:07] jtescher opened #42 "Add initial set of benchmarks"
It would be great to have a set of benchmarks that we can reference as we make changes so we are aware of performance advancements and regressions.

[2019-12-05 04:37] #36 closed

[2019-12-05 19:13] jtescher commented on #12
Could be nice to see a before / after here to evaluate ergonomics and conversion (e.g. uuid)

Looks like currently to/from would be something like:

[code]

[2019-12-05 19:26] MikeGoldsmith commented on #12
It's worth mentioning that B3 headers support 128 bit trace IDs where most other propagators are limited to 64. The full trace ID needs to be preserved if received and then propagated via B3 headers but can be truncated to 64 bit (lower significant bits) for other propagators.

Some implementations use a byte array (like Go) to manage a single 64 or 128 bit id, others maintain the original trace I

[2019-12-05 20:24] jtescher commented on #12
@MikeGoldsmith great point, is there a list of propagators that otel impls should support? Seems 64 bit traces are typically older versions?

[2019-12-05 20:32] MikeGoldsmith commented on #12
I think B3 should be good enough for now. Vendor specific propagators can come later, and as long as we have both 128 and 64 bit IDs, we should be good :+1:

[2019-12-05 21:31] jtescher commented on #12
Hm well we currently support b3 the same way that the go impl does, and it looks like they require 128 bits? could be 0 padded but that works with u128 just the same? https://github.com/open-telemetry/opentelemetry-go/blob/a9756528bada550d81d668a2536a4e0788faa5c4/api/core/span_context.go#L88-L90

[2019-12-05 23:13] iredelmeier commented on #12
B3 and W3C Trace-Context, which is 128-bit and should be the default.

[2019-12-07 22:33] jtescher commented on #21
Closing this in favor of #15

[2019-12-07 22:33] #21 closed

[2019-12-10 23:44] iredelmeier opened #45 "Add a CONTRIBUTING.md"

[2019-12-17 15:15] iredelmeier opened #46 "Add Mike Goldsmith as an approver"
Per discussion in the 12/17/2019 SIG meeting.

(This is just a placeholder issue to track adding @MikeGoldsmith to the GitHub team, since there should be no PR necessary.)

[2019-12-17 15:27] iredelmeier opened #47 "Add macros!"
This might take some experimentation to get right ergonomically.

[2019-12-17 15:38] MikeGoldsmith commented on #46
Done :+1:

[2019-12-17 15:38] #46 closed

[2019-12-19 02:02] #4 closed

[2019-12-19 02:02] #38 closed

[2019-12-19 02:04] jtescher commented on #25
Resolved in #44

[2019-12-19 02:04] #25 closed

[2019-12-19 02:06] jtescher commented on #23
This is still blocked by #13

[2019-12-19 02:07] jtescher commented on #16
This is now unblocked after #44 landed 🎉

[2020-01-07 00:33] iredelmeier opened #53 "Update Cargo.toml authors?"
@jtescher thoughts on updating the `authors` to point to something generic, like "OpenTelemetry authors"? Not sure if there's a corresponding email.

[2020-01-07 14:00] jtescher commented on #53
Yeah that seems best. I copied the name / email from [ruby impl](https://github.com/open-telemetry/opentelemetry-ruby/blob/master/api/opentelemetry-api.gemspec#L14-L15) for the jaeger exporter, could go with that https://github.com/open-telemetry/opentelemetry-rust/blob/master/opentelemetry-jaeger/Cargo.toml#L4

[2020-01-09 11:26] xd009642 opened #54 "Add a Base64 decoder"
Often span IDs between applications are encoded into base64, currently you need to use an external crate i.e. https://crates.io/crates/base64 it would be more user friendly

[2020-01-10 17:21] daniel-emotech opened #55 "Trace Exporter should take URL not just IP address"
Issue title is self explanatory when I have my jaeger service in docker compose I should be able to use the service name as the URL for the tracer_endpoint

[2020-01-20 04:23] rthomas opened #57 "Project LICENSE file is Apache 2.0, but README badge and crates.io shows MIT."
I'm unsure if crates.io thinks this is MIT because previous releases were done under MIT - but the LICENSE file and Github both show this as Apache 2.0.

[2020-01-20 11:36] jodh-intel opened #58 "Add serialize attributes for SpanData"
I'd like to be able to serialise and deserialise the public `SpanData` [1]. Since all of its fields are public I *could* do that manually or even use the magic "remote derive" feature of serde [2]. However, from a safety and usability perspective adding the standard `#[derive(Serialize, Deserialize)]` to `SpanData` would allow standard serde semantics.

---

[1] - https://github.com/kata-container

[2020-01-20 16:32] jodh-intel commented on #58
btw, do you have any thoughts on when you plan to update the crate version (since `SpanData` isn't available in the latest `0.1.5` release on crates.io)?

[2020-01-21 21:13] MikeGoldsmith commented on #57
Hi @rthomas - I don't believe pushed another release to crates.io. I suspect that, along with other project metadata, will up date once we have.

[2020-01-21 21:17] MikeGoldsmith commented on #58
Hi @jodh-intel

We don't have a set date for our next release to crates.io, though it has been a while and there have been a lot of changes since the last release (including moving github org).

[2020-01-21 22:06] rthomas commented on #57
Excellent, thanks - I suspected it was tied to the release on crates.io - I just wasn't sure where the badge pulled the details from.

I'll close this, as I think you're right and it'll fix itself up when you push a new release.

[2020-01-21 22:06] #57 closed

[2020-01-24 16:28] jodh-intel commented on #58
Thanks @MikeGoldsmith - I've tried using the latest git repo version but it got messy due to other deps (and their particular versioned deps) so would be great to be able to consume direct from crates.io ideally.

@jtescher - do you think adding these serialisation options is reasonable?

[2020-01-24 18:48] jtescher commented on #58
@jodh-intel yeah `SpanData` being serialize/deserialize seems reasonable to me. Want to do the PR? (always good to have more committers 😃)

As far as a release, once the current open PR's land we can likely get a release ready. The current issues around how current span tracking works with futures is the real meat of the outstanding work to be done.

[2020-01-27 14:28] jodh-intel commented on #58
Thanks @jtescher - here you go: https://github.com/open-telemetry/opentelemetry-rust/pull/59 :smile:

[2020-01-30 02:35] #35 closed

[2020-01-30 02:46] #55 closed

[2020-01-30 04:01] jtescher opened #60 "Remove Tracer Name Prefix From Span Names"
See https://github.com/open-telemetry/opentelemetry-go/pull/430 for context.

[2020-01-30 04:19] jtescher opened #62 "Add Layer for Context Propagation"
See https://github.com/open-telemetry/oteps/pull/66 for context

[2020-01-31 19:16] #58 closed

[2020-02-04 19:58] #60 closed

[2020-02-04 23:48] iredelmeier opened #65 "Add changelog"

[2020-02-07 01:22] #65 closed

[2020-02-07 01:35] #53 closed

[2020-02-10 18:30] #45 closed

[2020-02-10 18:41] #42 closed

[2020-03-03 00:37] Monkeyanator commented on #11
Hi, I'm planning to take this on as a first issue 😊

To be clear, is there a reason we want trace ID and span ID to follow the`newtype` pattern rather than using a type alias? I understand that `newtype` comes with stricter guarantees on what can be passed where, but are those guarantees desired in this case?

[2020-03-03 01:37] jtescher commented on #11
@Monkeyanator great you want to take on this issue! I think we're leaning toward newtypes here to hide the implementation and the safety guarantees seem like they are a good tradeoff in this case

[2020-03-06 23:27] jtescher commented on #11
Resolved in #73

[2020-03-06 23:27] #11 closed

[2020-03-10 13:52] MikeGoldsmith opened #74 "Beta readiness tracker"
This is a tracking issue for the requirements outlined in the beta release document: https://docs.google.com/document/d/1eviggoIguOS89dgKL-8ntUOCfPP6FLWAoQkGoBDsld0/edit#

## Traces
- [ ] Stable API of every spec'd feature
- [x] SDK Implementation of every spec'd feature
- [x] Basic tracing
- [x] Named tracers
- [x] Tracers use OTEP 66 Context mechanism - This is an implementation detail and does

[2020-03-15 16:01] jtescher commented on #6
Closing this for now, we can re-open later if there is interest in examining alternatives.

[2020-03-15 16:01] #6 closed

[2020-03-15 16:08] jtescher commented on #54
@xd009642 are you interested in contributing a PR for this? I'd be happy to help you get started.

[2020-03-15 16:09] xd009642 commented on #54
Yeah I can take a look some point this week

[2020-03-15 16:20] jtescher opened #77 "Add batch span processor"
See the [batching processor](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/sdk-tracing.md#batching-processor) specs for details.

[2020-03-15 22:40] xd009642 commented on #54
Quick question would the preferred way be to do a separate base64 propagator? Or to more simply just add a trait similar to `BinaryFormat` to the `BinaryPropagator` called `Base64Format`?

[2020-03-16 15:06] MikeGoldsmith commented on #54
I think an additional trait would be the right way - different propagator implementations may want the base64 encoded string.

[2020-03-16 18:13] #13 closed

[2020-03-16 18:13] #23 closed

[2020-03-16 23:56] natemara opened #78 "Sampler::Probability will never sample orphaned spans"
According to the documentation of the `Probability` variant of `opentelemetry::sdk::trace::sampler::Sampler`,

This implies that a span may be sampled if its parent is not sampled, if a probability condition is met. Here is a link to the referenced documentation in the code:

https://github.com/open-telemetry/opentelemetry-rust/blob/ade9c2c3dba2ba2852a2f89dc973e3e23fc9d97e/src/sdk/trace/sampler.rs

[2020-03-17 03:28] jtescher commented on #78
@natemara hm you are bringing up a good point. Currently [the specification](https://github.com/open-telemetry/opentelemetry-specification/blob/6347a9b44714840ef67f0a477f60896e07362191/specification/sdk-tracing.md#built-in-samplers) states:

* The default behavior should be to trust the parent SampledFlag. However there should be configuration to change this.
* The default behavior is to apply the

[2020-03-17 15:51] natemara commented on #78
After I filed this issue initially, I had the thought of changing the `unwrap(false)` to true, but can I ask why you crossed that out?

I also thought of changing it to this:

[code]

This would ensure that only root and remote spans had the probability applied to them, and all local spans with a parent would inherit their parent's sampling decision. Does that seem reasonable?

[2020-03-18 01:51] jtescher commented on #78
I think `...and Spans with remote parent` could be read two ways, meaning that all remote-parent spans are "roots" in a sense so they should have the probability applied, or that they should have probability applied but still respect the non-sampled flag of the parent and not record.

The go impl treats >1.0 as `ALWAYS`:

https://github.com/open-telemetry/opentelemetry-go/blob/638b865c907fc0f5fe8b

[2020-03-21 18:33] #54 closed

[2020-03-21 18:51] jtescher commented on #37
Resolved in https://github.com/open-telemetry/opentelemetry-rust/pull/76

[2020-03-21 18:51] #37 closed

[2020-03-25 14:38] jtescher commented on #16
Resolved in #51

[2020-03-25 14:38] #16 closed

[2020-03-25 14:40] jtescher commented on #15
Closing this for now as the async solution is working. Can re-open if we want to consider alternatives.

[2020-03-25 14:40] #15 closed

[2020-03-28 18:28] jtescher commented on #78
@natemara that seem right to you? or do you see other issues?

[2020-04-03 10:53] MikeGoldsmith commented on #78
My understanding is a _remote_ parent span created in an up-stream process and is only created when extracting a span context in propagation.
A _non-remote_ parent span is one that is created within the same process.

I also agreed the probability range is 0.0 to 1.0, a probability of 1.0+ is ALWAYS and 0.0 or less is NEVER.

[2020-04-03 17:30] #77 closed

[2020-04-04 21:41] jtescher opened #90 "Add configuration to block waiting for batch exporter"
As @MikeGoldsmith mentioned it would be useful to have a handle that can be awaited or blocked on for batch exporters to ensure that all spans have been exported before applications stop.

[2020-04-05 15:42] jtescher commented on #12
Closing this for now, can re-open if there is renewed interest.

[2020-04-05 15:42] #12 closed

[2020-04-09 15:05] #78 closed

[2020-04-11 20:34] jtescher commented on #26
Closing this until there is more production information to determine what should be included.

[2020-04-11 20:34] #26 closed

[2020-04-30 18:05] jtescher opened #105 "Separate `Carrier` into `Injector` and `Extractor`"
See https://github.com/open-telemetry/opentelemetry-specification/pull/578 for spec changes

[2020-05-04 15:37] glademiller opened #106 "Opentelemetry-jaeger: Problems using Collector Client in conjunection with Actix-Web"
This is an amazing project and I am attempting to use it in conjunction with the tracing crate. I have posted my initialization code below. I am getting traces to my collector for things that are running in tokio outside of Actix but the actix-web handlers don't work. My best guess after digging through the code is the problem is due to the use of the blocking reqwest client.  For reference this i

[2020-05-04 15:55] jtescher commented on #106
Hm this code should not be trying to start another tokio runtime. Can you include the output with  `RUST_BACKTRACE=1`?

[2020-05-04 16:15] glademiller commented on #106
Reqwest's blocking client does althought I'm not entirely sure how the conflict is happening.

https://github.com/seanmonstar/reqwest/blob/master/src/blocking/client.rs#L696-L732

I will get a full stack trace.

[2020-05-04 16:18] glademiller commented on #106
[code]

[2020-05-04 16:23] glademiller commented on #106
Looking at the stack trace the error is being caused here.

https://github.com/seanmonstar/reqwest/blob/master/src/blocking/wait.rs#L66-L76

[2020-05-04 16:30] glademiller commented on #106
Looking closer at the stack trace the error is not actually due to actix-web in this case. The start function referenced uses tokio:spawn to run something at an interval. The refresh function is instrumented and is made as part of this loop.

[2020-05-07 01:44] #62 closed

[2020-05-11 03:45] jtescher commented on #106
Ah yes digging into this it looks like the blocking and non-blocking APIs of tokio and reqwest do not play nicely together. Basically if your app uses async / await and futures you must currently use the thrift api with the agent endpoint instead of the collector client.

[2020-05-11 04:24] jtescher opened #112 "Expose async exporter interface"
Currently batch exporters must go through a blocking interface, they should be able to export spans using entirely async interfaces.

[2020-05-12 13:01] LukeMathWalker commented on #106
I am having exactly the same issue - any chance we could use the async interface od Reqwest for the collector, instead of the blocking one?

[2020-05-12 19:10] jtescher commented on #106
@LukeMathWalker yeah that would be more ideal, have to think through the api for async exporters. Have an issue open currently for that specifically https://github.com/open-telemetry/opentelemetry-rust/issues/112

[2020-05-12 19:32] jtescher commented on #112
@samschlegel did you have any preliminary thoughts on what you'd like to see in this interface?

[2020-05-12 20:00] samschlegel commented on #112
Something I've been thinking about is how a lot of the same abstractions we have in `tower` would be nice for building exporters. I'm not sure that you'd want to add a `tower` dep though, but I rather like that interface. Would make batching and buffering and retries really easy. Right now my work on Rust tracing has been put on hold for a bit, but I was planning on writing a `ServiceExporter` tha

[2020-05-12 20:04] LukeMathWalker commented on #112
I'd be happy to help here as well - from a quick look I am not a 100% sure of how extensive the changes would have to be. Am I mistaken in believing that it might be necessary to touch the thrift crate?

[2020-05-13 02:01] jtescher commented on #112
@LukeMathWalker Seems like there are really two changes here:

1. Finding an alternative sync http client to replace reqwest so it does not panic when used in async apps.
1. [`SpanExporter`](https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/exporter/trace/mod.rs#L34-L57) trait would ideally have a method that returns a future (or `Pin<Box<dyn Future>>`), then the jaeger/zipkin e

[2020-05-16 20:55] LukeMathWalker commented on #112
For 1., we could look into
- [ureq](https://crates.io/crates/ureq);
- [isahc](https://crates.io/crates/isahc);
- [attohttpc](https://docs.rs/attohttpc/0.13.0/attohttpc/).

A good starting point could be [this analysis](https://medium.com/@shnatsel/smoke-testing-rust-http-clients-b8f2ee5db4e6).

[2020-05-16 23:41] jtescher opened #113 "Update sampler types"
See https://github.com/open-telemetry/opentelemetry-specification/pull/609 for changes.

[2020-05-18 12:04] swilcox3 opened #114 "Add api::context::propagation::Carrier implementation for http::header::HeaderMap"
Hey, I'm loving the direction this is going, I think it's really going to help me with my microservices backend written in [tonic](https://docs.rs/tonic/0.2.1/tonic/).  I've already got my individual services reporting to Jaeger, now I'm trying to get context propagation working.  `tonic` exposes a `trace_fn` that gives you a `http::header::HeaderMap`.  I'm trying to use a `B3Propagator` to extrac

[2020-05-18 16:00] jtescher commented on #114
Hey @swilcox3, moving to `&str` sounds like a good improvement. A PR there would be appreciated! Also you can see https://github.com/open-telemetry/opentelemetry-rust/tree/master/examples/grpc for a working example of the (currently sub-optimal) tonic usage.

I think adding an impl for `http::header::HeaderMap` would be good as well, maybe behind a `http` feature flag?

[2020-05-18 16:06] jtescher commented on #112
@LukeMathWalker happy to accept a PR for any of those as long as they are a working replacement for the sync behavior. The specific http client is an implementation detail that we can iterate on so seems more important to get a working exporter first 👍

[2020-05-18 16:07] swilcox3 commented on #114
Oh I didn't see that example.  You're right, it does the job, but there's
definitely some boilerplate.  I'll take a look at putting a PR together, it
shouldn't be too complicated.

On Mon, May 18, 2020, 12:00 PM Julian Tescher <notifications@github.com>
wrote:

[2020-05-19 15:15] glademiller commented on #112
I haven't actually tested this code but it is pretty straightforward if someone wants to run it an make sure everything is in order. It compiles all right #116

[2020-05-21 11:38] bodymindarts opened #118 "Trace id not exported correctly on links when using jaeger"
Jaeger exporter serialises the trace id in 2 64bit chunks. Unfortunately when exporting links the high and low chunks are in reverse order so downstream systems receiving the events cannot construct correct links to the correlated traces.

https://github.com/open-telemetry/opentelemetry-rust/pull/117 fixes this.

[2020-05-28 16:08] jtescher opened #123 "Remove SpanId from Sampler input"
See https://github.com/open-telemetry/opentelemetry-specification/pull/621 for details

[2020-05-31 04:34] siyopao commented on #123
Does anyone mind if I give this one a try?

[2020-05-31 04:47] siyopao commented on #123
I tried it out, but I don't know how to sign the CLA...

[2020-05-31 22:52] #123 closed

[2020-06-01 02:51] jtescher commented on #118
Resolved in #117

[2020-06-01 02:51] #118 closed

[2020-06-01 03:07] jtescher commented on #114
Resolved in #115

[2020-06-01 03:07] #114 closed

[2020-06-02 01:39] bbigras opened #126 "future cannot be sent between threads safely"
Is opentelemetry-rust usable with tokio::spawn()?

[code]

[code]

[2020-06-02 01:58] jtescher commented on #126
@bbigras It is not currently usable across threads as `Context`s currently store their values in `Rc`s. Want to create a PR to switch to `Arc`?

[2020-06-02 04:30] bbigras commented on #126
I'll give it a try. Thanks.

[2020-06-02 13:48] bbigras opened #129 "no traces with async example when using async-std"
`examples/async` seems to work fine, but I don't get any traces if I "convert" it to async-std.

Maybe I did something wrong.

[code]

[2020-06-02 15:28] #126 closed

[2020-06-02 16:29] jtescher commented on #129
@bbigras Thanks for finding this! looks like a bug in the demo, the `thread::sleep` is preventing the spans from being reported. Want to create a PR to fix this? should be fixed if you switch that to `tokio::time::delay_for(Duration::from_millis(250)).await;` (would be `async_std::task::sleep(Duration::from_millis(250)).await;` on async_std)

[2020-06-02 17:58] jtescher commented on #106
Resolved in #121

[2020-06-02 17:58] #106 closed

[2020-06-03 03:57] #113 closed

[2020-06-03 19:13] bbigras opened #131 "with_context conflicts with anyhow's"
`anyhow` also has `with_context`.

[2020-06-03 20:28] bbigras commented on #131
oh it seems to only cause problems if I use `.with_context()` wrongly after await instead of before.

[2020-06-03 20:28] #131 closed

[2020-06-08 23:32] glademiller commented on #112
@jtescher  quick question that I haven't been able to answer quickly myself by looking at the code. Using ureq shouldn't interfere directly with the tokio event loop or runtime but where is the collector code being called? Can I put it on its own thread or is it on its own thread already so it won't interfere with my event loop? Or is this something that I will have to wait for an async exporter t

[2020-06-08 23:47] jtescher commented on #112
@glademiller So currently you pass in a function pointer basicaly `fn(Future) -> T` to however you want the batch span processor to be run, e.g. https://github.com/open-telemetry/opentelemetry-rust/blob/master/examples/async/src/main.rs#L65 passes `tokio::spawn` so the batch span processor work is spawned on the current executor.

You could pass a pointer to a function that would spin up a new thr

[2020-06-08 23:49] jtescher commented on #112
@glademiller the async exporter interface would likely add a similar trait as https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/exporter/trace/mod.rs#L34-L57, but allow the result to be a future, which would let async http clients not have to block to accommodate the current sync methods.

[2020-06-09 08:52] LukeMathWalker commented on #112
Would passing `tokio::spawn_blocking` there solve the issue?

[2020-06-10 10:45] xd009642 opened #132 "grpc-trace-bin header support"
As well as `traceparent` for context propagation there's also `grpc-trace-bin` and `x-cloud-trace-context`, my current work system is using `grpc-trace-bin` so it would be nice if it was as easy to propagate the traces as it was with `traceparent` or the b3 headers

[2020-06-10 19:39] jtescher opened #133 "Move experimental features to separate folder"
See https://github.com/open-telemetry/opentelemetry-specification/pull/632 for explanation.

The binary propagation format has been postponed, so we should probably move this module to a new top level `experimental` module and add a flag to enable it.

[2020-06-11 07:42] LukeMathWalker commented on #112
Oh sure, I was just suggesting a temporary workaround to avoid blocking the core thread to ship traces :grin:

[2020-06-11 15:09] jtescher commented on #112
@LukeMathWalker yeah good point, haven't tried it but that may be a good workaround for now 👍

[2020-06-11 19:09] iffyio opened #135 "Not possible to instantiate metrics via api::Meter"
Hi!

I started looking at this crate to provide an abstraction over metrics backends in a program. The idea is that a piece of code would e.g increment a counter via an interface rather than, say, a Prometheus counter directly.

It doesn't seem it will be possible to accomplish this with this crate's metrics interface.

My assumption is that this is one of the goals of this crate - this might be a

[2020-06-11 19:59] iffyio opened #136 "sdk::Meter crashes the program if not configured properly"
Hi!

Here are two cases where the sdk panics

1. using duplicate keys when creating an instrument e.g
[code]

2. providing labels to `acquire_handle` that don't match those passed to the instrument e.g
[code]

In both cases, it would be friendlier with an api that makes it explicit that these operations can fail and leave the error handling up to the caller - For example `1` could return a `Result

[2020-06-11 22:31] jtescher commented on #135
The metrics API is still a work in progress, see https://github.com/open-telemetry/opentelemetry-specification/pull/347 and other open PRs for examples of things that will change, as such you may want to wait before you try to use it in this state.

[2020-06-11 22:35] jtescher commented on #136
These come from the current implementation being basically a proxy for the `prometheus` crate in https://github.com/tikv/rust-prometheus/blob/8c8e65f1fbe6470573950fd787ebdd4ed5d9f345/src/errors.rs#L13. This should be fixed in a future release as the spec now allows for result responses.

[2020-06-13 23:14] jtescher opened #137 "opentelemetry-jaeger: Do no add `span.kind` tag if it has been set as an attribute"
Currently if the `span.kind` attribute is set, opentelemetry-jaeger will add a second one when it submits the jaeger data.

[2020-06-14 14:11] siyopao commented on #137
Is it okay if I give this one a shot? If so, just one question to clarify, does this mean checking whether the `attribute` map in `SpanData` already contains `span.kind`, and if it does, then do not add `SpanData`s `span_kind` to the tag?

Thank you!

[2020-06-14 14:32] siyopao opened #138 "Some links to "OpenTelemetry project standard event names and keys" are broken"
For example, https://github.com/open-telemetry/opentelemetry-rust/blob/6f14587ff08a7dac53e73e7ef8c8d2cd11194ae8/src/api/trace/span.rs#L47.

I would happily create a PR to fix these but I am not quite sure to what they should be linking to. Possibly https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions?

[2020-06-14 15:36] jtescher commented on #138
@siyopao thanks for finding these! yeah that's probably where it should point now. Probably also worth putting the spec release version in the URL (currently v0.5.0) to avoid future issues like this.

[2020-06-14 15:37] jtescher commented on #137
@siyopao great! yeah basically https://github.com/open-telemetry/opentelemetry-rust/blob/master/opentelemetry-jaeger/src/lib.rs#L382-L415 should only add the attributes it does if they are not already set.

[2020-06-14 15:39] jtescher commented on #137
Also could update https://github.com/open-telemetry/opentelemetry-rust/blob/master/opentelemetry-zipkin/src/lib.rs#L239-L250 if you are interested as it also has the incorrect behavior

[2020-06-15 00:37] siyopao commented on #137
Hi @jtescher. Sure, no problem. Just one further clarification: if `span.kind` is found in `span_data.attributes` then `span_data.span_kind` should _not_ be added to the tags, or should `span_data.span_kind` always be added and any currently existing `span.kind` in the attributes be ejected? I get the feeling it is the former. Thank you.

[2020-06-15 01:04] jtescher commented on #137
@siyopao Your feeling is correct, it should not be added if the user has specified it in the attributes 👍

[2020-06-16 22:07] #138 closed

[2020-06-18 00:49] #137 closed

[2020-06-20 15:59] jtescher commented on #133
Resolved in #134

[2020-06-20 15:59] #133 closed

[2020-06-27 18:12] jtescher opened #142 "Allow array values for attributes"
Add array variant to `Value` enum, see [the spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/368) for details.

[2020-06-29 22:28] Brandon-Kimberly opened #143 "Proposal: Use GitHub Actions for CI/CD"
This issue is in reference to [issue 398](https://github.com/open-telemetry/community/issues/398) posted on the community repository. In this issue, we are proposing that all OpenTelemetry repositories *consider* using GitHub Actions as their CI provider in order to maintain consistency across the various language repositories.

The overall proposal was discussed in the OpenTelemetry maintainers S

[2020-06-29 22:57] jtescher commented on #143
@Brandon-Kimberly approved 👍 although docs deployment is not necessary in rust as that happens automatically for all rust crates when published.

[2020-07-02 00:31] jtescher commented on #132
The spec discussion for this is currently happening in https://github.com/open-telemetry/opentelemetry-specification/issues/639

[2020-07-05 17:51] jtescher opened #144 "Change w3c correlation context to custom header"
Header name is currently `Correlation-Context` and it should be updated to be `otcorrelations`. See [the spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/517) for details.

[2020-07-06 00:05] siyopao commented on #144
Hello @jtescher! I made an attempt to address this issue. Please let me know if any changes are required. Thanks!

[2020-07-06 00:41] #144 closed

[2020-07-07 04:46] siyopao commented on #142
I don't mind working on this if that is okay? But I am not sure how to enforce the requirement "The array MUST be homogeneous, i.e. it MUST NOT contain values of different types." unless we add a kind for every possible primitive value in the `Value` enum, e.g. `Array(Vec<Value::Bool>)`. Is there a better way?

[2020-07-07 05:04] jtescher commented on #142
Hm yeah. Maybe check when constructing instances of `Value::Array`? I'd also be open to adding them without the check first and dealing with the validation in a later PR.

[2020-07-09 22:13] glademiller commented on #112
@LukeMathWalker @jtescher I was attempting to use the work around described but it appears something about it causes traces to never get sent. This is how I have defined my spawn function as follows
[code]
This might not be the best place to discuss a workaround but I'm hoping to move forward with something that works in the near term.

Any thoughts as to why traces would not be sent with my imple

[2020-07-09 23:04] hawkw commented on #112
@glademiller it looks like your `spawn_blocking` closure creates a future (the async block) that is never awaited, so `task` is never polled

[2020-07-09 23:28] glademiller commented on #112
Pretty obvious in hindsight. Thank you @hawkw

[2020-07-10 16:36] glademiller commented on #112
In case someone is looking for the workaround this is what I landed on
[code]

[2020-07-11 19:32] jtescher opened #147 "Make B3 propagator fully support spec"
The existing implementation of the B3 propagator does not fully implement the HTTP B3 specification.

Full B3 Specification: https://github.com/openzipkin/b3-propagation

See similar PR in go impl for needed changes: https://github.com/open-telemetry/opentelemetry-go/pull/882

[2020-07-13 00:24] TommyCpp commented on #147
If no one is currently working on this one. I'd like to give it a try.

[2020-07-15 05:22] #142 closed

[2020-07-15 05:24] jtescher commented on #147
@TommyCpp sounds good! happy to answer questions as you work through it, hopefully the referenced go changes are useful as well.

[2020-07-16 02:53] TommyCpp commented on #147
@jtescher Thanks! I think I finished most of the changes but may still need some time to double check with go implementation to make sure I got all test case covered, after that I should have a PR for review.

[2020-07-16 16:24] glademiller opened #149 "BatchSpanProcessor isn't sending Spans that originate in a library"
The title might not be the true issue but it appears to be.

I have a microservice that uses a library that defines all the http routes and does all the parsing etc and then calls into the application itself via an implementation of a specific trait.

Tracing starts in a middleware defined in the library which gets the parenttraceid and then creates a span via tracing.
When I run the application v

[2020-07-16 16:35] glademiller commented on #149
I'm going to close this for now as moving all the code into the application crate doesn't fix the problem. There must be something else I'm doing wrong.

[2020-07-16 16:35] #149 closed

[2020-07-17 19:40] jtescher opened #150 "Probability sampler should ignore the parent sampled flag"
Probability sampler should always sample, and ignore any parent flags. See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/704) for details.

[2020-07-17 19:43] jtescher opened #151 "Add trace exception tracking method"
A `record_exception` method should be added to the [Span API](https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/api/trace/span.rs#L25-L125). See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/697) for details.

[2020-07-20 21:11] #147 closed

[2020-07-21 00:35] TommyCpp commented on #151
I am curious how should we represent stacktrace in Rust. Here we want to record `Err` instead of `panic`, which by itself doesn't have  a way to get stacktrace in stable. There is a backtrace method in nightly though.

[2020-07-21 01:36] jtescher commented on #151
@TommyCpp Good question. Seems as though the error crates seem to be building up crate-specific backtraces currently to compensate like https://docs.rs/eyre/0.6.0/eyre/struct.Report.html or https://docs.rs/anyhow/1.0.31/anyhow/struct.Chain.html.

One possibility would be `record_exception(message: String, backtrace: Option<String>)` and let people build it up themselves, or possibly have features

[2020-07-21 02:10] TommyCpp commented on #151
@jtescher Good idea! But maybe it make more sense to accept an `Box<dyn Error>` as first param? And if user have some kind of message they can always override `fmt` method.

 Just my thought but it feels like we should be recording some kind of `Error` here. And when they stablize [Error::backtrace](https://doc.rust-lang.org/std/error/trait.Error.html#method.backtrace) we could use it as default i

[2020-07-21 02:39] jtescher commented on #151
@TommyCpp Yeah could be best to go with `Error` for now. Also the exception nomenclature in the spec is a little unfortunate. `record_error(error: Box<dyn Error>)`  or `record_err(err: Box<dyn Error>)` seem more natural for rust.

[2020-07-21 02:44] jtescher commented on #151
Also depding on the impl `&dyn Error` may be preferred here to avoid forcing consumers of the API to box.

[2020-07-21 02:49] TommyCpp commented on #151
Yeah but to be fair expection probably would be intutive for Java and some other languages. Anyway, mind if I work on this?

[2020-07-22 15:18] Deniallugo opened #153 "Current span is always Span::none()"
I tried to get current span in the function which is under the span. But I don't want to send span through the whole code.

Also, I tried to make simple example, from the example from your readme.

[code]
The function current returned Span::none()

What am I doing wrong?

[2020-07-22 21:41] jtescher commented on #153
@Deniallugo it is clearest if you instrument your application with either the `opentelemetry` API _or_ the `tracing` API rather than mixing them when working with the same span.

You can see how `tracing-opentelemetry` can be configured [in this example](https://github.com/tokio-rs/tracing/blob/master/examples/examples/opentelemetry.rs#L19-L42) which will then report an `opentelemetry` span for ev

[2020-07-23 02:11] siyopao commented on #150
Do you mind if I give this one a shot?

[2020-07-23 03:01] #150 closed

[2020-07-24 17:30] jtescher commented on #153
Closing this for now, feel free to bring this up in [gitter](https://gitter.im/open-telemetry/opentelemetry-rust) as well if you have more questions.

[2020-07-24 18:25] jtescher opened #156 "Simplify common configurations"
There is currently a lot of boilerplate to set up a tracing / metrics pipeline as seen in the examples `init_tracer` functions. We should consider adding a high level pipeline configuration builder to support simpler sdk config.

Pipeline config needed:

- [x] `opentelemetry-jaeger` #189
- [x] `opentelemetry-otlp` #210
- [x] `opentelemetry-prometheus` #141
- [x] `opentelemetry-zipkin`  #214
- [x]

[2020-07-25 12:42] Deniallugo commented on #153
Thank you, for the great answer! It was really helpful!

[2020-07-26 05:19] #151 closed

[2020-07-28 01:46] TommyCpp commented on #105
I think we can use something like
[code]
which basically make `Carrier` into a marker trait and implement it for every struct that implements `Injector` and `Extractor`

[2020-07-28 17:47] jtescher commented on #105
@TommyCpp do you have cases in mind that would prefer to operate on `Carrier`? It seems likely that they exist, but most of the obvious use cases are either client or server libraries that would probably only impl `Injector` or `Extractor`.

[2020-07-29 00:40] TommyCpp commented on #105
Hmmm actually not. I guess it make sense to replace `Carrier` with `Injector` and `Extractor`. I'd like to work on this if that's OK

[2020-07-29 01:09] jtescher opened #159 "Change the default sampler to be `ParentOrElese(AlwaysOn)`"
Currently the default sampler in the SDK trace config is `AlwaysOn`.

See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/750) for details.

[2020-07-30 18:27] jtescher opened #160 "Remove sampler interface from API"
It is an SDK-specific rather than API concern.

[2020-07-31 00:17] jtescher opened #161 "Add OTLP exporter"
See the spec change [here](https://github.com/open-telemetry/opentelemetry-specification/pull/699) for details.

[2020-07-31 17:01] jtescher opened #162 "Add semantic convention constants module"
Add semantic conventions for [tracing](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/trace/semantic_conventions), [resources](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resource/semantic_conventions), and [metrics](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/metrics/se

[2020-08-01 02:50] #159 closed

[2020-08-02 06:25] bruno-ortiz opened #165 "Make &self mutable in SpanProcessor"
Hi!
i'm fairly new to rust and i'm trying to implement a custom SpanProcessor that accumulates all spans that have the same trace_id before calling the exporter. Basically i'm trying to do this:

[code]
But the compiler keeps failing with the message:
[code]

Should we make &self mutable to allow this type of procesor? Or there is another way to solve my problem?

Thanks in advance.

[2020-08-02 16:12] TommyCpp commented on #165
One solution I could think about is to wrap the `trace_map` with `Arc` and `Mutex`. Like `Arc<Mutex<HashMap<...>>>`. Then you can call `lock()` method to lock the hashmap and remove the item even with `&self`

Something like
[code]

[2020-08-02 18:07] bruno-ortiz commented on #165
@TommyCpp thanks for your response, i did something like this:

[code]
Do i need to wrap the Mutex around a Arc? Because i think like this is working, i'm not sure because now i'm not finding a reasonable way to create a provider with my custom processor(maybe this is a topic for another issue).

[2020-08-02 18:34] #105 closed

[2020-08-02 18:47] jtescher commented on #165
@bruno-ortiz So the way the SDK is currently architected every `Span` needs to be able to call `on_end` when it is dropped. Because many spans can be doing this simultaneously and from multiple threads, they do not have exclusive access so this method can't take `&mut self`. This is why you currently will need to use `Arc<Mutex<_>>` as @TommyCpp mentioned, or some other form of synchronization to

[2020-08-02 19:10] bruno-ortiz commented on #165
thanks for your help, i'll close this issue for now.

[2020-08-02 19:10] #165 closed

[2020-08-02 23:09] jtescher opened #167 "Add resource detector"
Add resource detectors to configure resources based on common environments and environmental variables to make it easier to include the [resource semantic conventions](https://github.com/open-telemetry/opentelemetry-specification/tree/master/specification/resource/semantic_conventions).

[2020-08-03 20:42] jtescher commented on #161
@awiede I can't assign you to this issue. You may have to interact with this repo before you can be assigned? (probably abuse prevention)

[2020-08-03 20:52] awiede commented on #161
🤷 this works too

[2020-08-03 20:53] jtescher commented on #161
Yep works now that you've commented 👍

[2020-08-04 03:13] siyopao commented on #160
Hi @jtescher. Does this mean move `api::Sampler` to `sdk::trace::sampler`? And if so, what would you like to rename the current concrete `sdk::trace::sampler::Sampler`?

[2020-08-04 03:57] jtescher commented on #160
Yeah seems like the spec wants the trait to be moved to SDK, but not sure what the most common trait / impl naming convention should be here. Looking at std lib lots of traits are the same as the method name e.g. `ToString`, `AsRef`, `IntoIter`, etc.

Could do `pub trait ShouldSample` and `impl ShouldSample for Sampler`?

[2020-08-04 08:17] siyopao commented on #160
Okay, cool. Thanks. I'll work with that.

[2020-08-04 18:02] jtescher opened #168 "Add configuration options from environment variables"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/666) and [the followup](https://github.com/open-telemetry/opentelemetry-specification/pull/758) for details.

[2020-08-06 21:49] bruno-ortiz opened #170 "Is there a schedule for the next release?"
I don't want to be rude, but i'm currently working on a library that depends on the last commit.

Can we have a 0.7.1 version released?

Thanks!

[2020-08-06 23:44] #160 closed

[2020-08-07 17:06] jtescher opened #171 "Add global error handler"
See the spec change [here](https://github.com/open-telemetry/opentelemetry-specification/pull/757)

[2020-08-07 17:08] jtescher commented on #170
@bruno-ortiz yeah we can get a release out soon 👍

[2020-08-07 17:10] bruno-ortiz commented on #170
Thank you!

[2020-08-07 17:10] #170 closed

[2020-08-16 17:58] #5 closed

[2020-08-16 17:58] #17 closed

[2020-08-16 17:58] #22 closed

[2020-08-16 17:58] #24 closed

[2020-08-16 17:58] #135 closed

[2020-08-16 17:58] #136 closed

[2020-08-16 17:58] #171 closed

[2020-08-16 17:59] jtescher commented on #161
Resolved in #173

[2020-08-16 17:59] #161 closed

[2020-08-16 19:51] #167 closed

[2020-08-18 17:49] frigus02 commented on #162
I would have happy to give this a go. Just want to check that I would go in the right direction. My thinking was to replicate the [semcov package from opentelemetry-go](https://github.com/open-telemetry/opentelemetry-go/tree/master/semconv).

That would mean creating a bunch of constant `Key`s in `semcov::trace` and `semcov::resource` modules. (Looks like semantic conventions for metrics are still

[2020-08-18 18:38] jtescher commented on #162
@frigus02 this seems reasonable, what do you think about going with the JS approach initially and make a new crate in this repo for the semantic conventions? Seems like there is a fair chance that these will undergo some churn so avoiding more breaking changes in the core otel crate would be nice. Could start with `opentelemetry_samantic_conventions::trace:: NET_PEER_NAME` and re-export under a di

[2020-08-18 18:50] frigus02 commented on #162
Yeah, I like the idea. I agree about the likely churn and avoiding breaking changes for the main crate.

I think in order to create `const` `Key`s, we need to add a `const fn` to `Key`. Is that correct? I suppose it's not too unreasonable to make that function public. Something like this for example:

[code]

[2020-08-18 19:20] jtescher commented on #162
I think the const method is right, the method name is a bit tricky here to not be confusing. Have to differentiate this constructor from normal str conversion. Maybe `from_static`? or `from_static_str`? the lowercase part could possibly be a `debug_assert!` if the spec prohibits mixed case key names.

[2020-08-18 19:26] frigus02 commented on #162
Sounds good. I'm going to open a draft PR with the structure soon so we can see how it looks like.

The lowercase part probably doesn't matter, to be honest. I copied the function from an example I had lying around.

[2020-08-18 19:48] frigus02 commented on #162
The PR is up. I'm going to look for a way to copy the documentation for all the different attributes now 😄

[2020-08-19 17:21] jtescher opened #181 "Switch to noop propagators as default global propagator"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/719) for details. Note the section on span context propagation as well.

[2020-08-19 23:23] #162 closed

[2020-08-20 20:04] tigrannajaryan opened #182 "Populate implementation/spec compliance matrix"
In order to have a better understanding of where we stand in terms of implementing OpenTelemetry specification in various language SDKs we would like to have a compliance matrix that shows which features are implemented in which languages.

This will show how much work is remaining and tell us far away are we from being ready for GA.

The matrix is located here: https://github.com/open-telemetry/o

[2020-08-21 18:38] jtescher opened #183 "Rename ParentOrElse sampler to ParentBased"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/610) for details.

[2020-08-21 18:39] jtescher opened #184 "Rename HTTPText to TextMap Propagator."
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/793) for details.

[2020-08-21 18:46] jtescher opened #185 "Rename ProbabilitySampler to TraceIdRatioBasedSampler"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/611) for details.

[2020-08-22 00:51] #183 closed, assigned to nobody

[2020-08-22 03:34] #185 closed, assigned to nobody

[2020-08-23 18:35] jtescher commented on #182
Resolved via https://github.com/open-telemetry/opentelemetry-specification/pull/859

[2020-08-23 18:35] #182 closed

[2020-08-24 16:59] jtescher opened #194 "Add methods to trace/span id to format as hex and byte array"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/836) for details.

[2020-08-24 23:22] jtescher commented on #74
Closing this as we're moving towards GA spec 👍

[2020-08-24 23:22] #74 closed

[2020-08-25 01:19] #184 closed

[2020-08-25 20:14] jtescher opened #195 "Add `keys` method to extractors"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/825) for details.

[2020-08-26 03:00] TommyCpp commented on #14
It feels like just need to add a `end_with_timestamp` function in `Span`. Not sure if I missed something. But I'd like to give it a try if that's OK

[2020-08-26 04:23] jtescher commented on #14
@TommyCpp  Yeah there were originally questions around what options would be required but it seems like the answer now is just end time so a method should be sufficient 👍

[2020-08-26 15:38] jtescher opened #196 "Rename `CorrelationContext` to `Baggage`"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/857) for details.

[2020-08-26 21:17] frigus02 commented on #181
For anyone else reading, the change to make global propagators noop is here: https://github.com/open-telemetry/opentelemetry-specification/pull/721. It's not merged into the spec, yet.

[2020-08-26 21:45] jtescher opened #198 "Rename `Provider` to `TracerProvider`"
We now have a `MeterProvider` so `Provider` by itself is ambiguous.

[2020-08-28 15:50] #14 closed

[2020-08-29 02:38] #194 closed

[2020-09-01 00:15] siyopao commented on #195
I would like to attempt this if that is okay?

[2020-09-01 01:22] TommyCpp opened #204 "Add instrumentation library version information"
As in [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/api.md#tracerprovider-operations). We should provide an optional param to allow users to set instrumentation library version when we `get_tracer` from `TracerProvider/Provider`

[2020-09-01 03:30] jtescher opened #205 "Specify that resources map to jaeger process tags"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/891) for details.

[2020-09-02 00:22] #198 closed

[2020-09-03 01:31] #196 closed

[2020-09-03 01:46] #204 closed

[2020-09-03 21:19] jtescher opened #211 "Add TraceState operations"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/905) for details.

[2020-09-03 21:23] jtescher opened #212 "Add DDSketch aggregation support"
Existing crates: https://github.com/mheffner/rust-sketches-ddsketch

[2020-09-04 13:53] awiede commented on #211
@jtescher if no one else has started this can I take a crack at it?

[2020-09-04 14:23] TommyCpp commented on #212
Hm my question is do we want to implement our own version or should we just use the existing crates. I haven't got the chance to check the crates but it seems in early stage?

[2020-09-04 15:33] jtescher commented on #212
@TommyCpp I haven't looked into the crate much, I guess whichever is easier to maintain, generally it's nice to have fewer dependencies but if this is complex enough then it makes sense to import

[2020-09-04 15:45] #195 closed

[2020-09-04 19:51] jtescher commented on #211
Also should be [in the api module](https://github.com/open-telemetry/opentelemetry-specification/pull/922).

[2020-09-06 03:10] TommyCpp commented on #212
Sounds good. Mind if I work on this? Could take a while since I'd love to read the paper to make sure we get the right implementation.

[2020-09-06 16:28] jtescher commented on #212
Sounds good

[2020-09-11 12:19] tustvold opened #216 "Datadog Exporter"
Datadog uses a custom trace export format defined [here](https://docs.datadoghq.com/api/v1/tracing/#send-traces). In addition to the JSON format documented there, official implementations use msgpack - see [here](https://github.com/DataDog/dd-trace-go/blob/v1/ddtrace/tracer/payload.go).

I have found the beginnings of a datadog exporter for the opentelemetry collector [here](https://github.com/Dat

[2020-09-11 16:17] jtescher commented on #216
@tustvold a few others have expressed the need for a DataDog exporter so I think this would be great! Could be added to the contrib repo here or in your own repo if you prefer.

[2020-09-16 01:57] TommyCpp commented on #216
It would be nice if we can have some kind of links to those vendor component that not in contrib repo so that ppl can find what they want more easily

[2020-09-16 02:26] jtescher commented on #216
@TommyCpp yeah very true. We could start a list in the main readme maybe? There is also https://opentelemetry.io/registry/ which tries to be a central repository across languages.

[2020-09-16 22:06] jtescher opened #219 "Update Sampling Result Names"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/938) for details.

[2020-09-16 22:12] jtescher opened #220 "Support OTEL_EXPORTER environment variable"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/943) for details.

[2020-09-17 00:39] #211 closed

[2020-09-17 04:36] jtescher commented on #219
See also [this spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/956) for additional changes.

[2020-09-18 23:40] jtescher opened #221 "Update the default propagator to be noop"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/930) for details.

[2020-09-21 18:10] jtescher opened #223 "Export `otel.status_code` tag in Zipkin exporter"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/967) for details (may not be exported currently).

[2020-09-22 02:06] TommyCpp commented on #212
close via #218

[2020-09-22 02:06] #212 closed

[2020-09-22 02:51] #205 closed

[2020-09-22 04:27] TommyCpp commented on #220
I think it's gonna be a tricky one. [The PR doesn't include support for external/vendor exporters](https://github.com/open-telemetry/opentelemetry-specification/pull/943#discussion_r489025356) but all our exporter feels like external exporters since they don't live in the main create.

[2020-09-22 09:20] frigus02 commented on #181
I think this is now replaced by #221

[2020-09-22 12:58] frigus02 opened #225 "TraceProvider::with_exporter immediately drops BatchSpanProcessor"
While testing #224, I came across an issue.

## Steps to reproduce

1. Checkout the PR (at the point of writing https://github.com/open-telemetry/opentelemetry-rust/pull/224/commits/ffa96df67008202b784b64d0986e255ffd26cac1).
1. Open `examples/stdout.rs` and change:
[code]
1. Run `cargo run --example stdout` and observe the span being printed to the console.
1. Run `cargo run --example stdout --fea

[2020-09-22 13:18] frigus02 commented on #225
I'm pretty sure this happens because:

- A `TraceProvider` stores it's data in an inner struct inside an `Arc`.
- We call `shutdown` for all span processors when this inner struct is dropped.
- The inner struct owns a list of named `Tracer`s.
- Each `Tracer` owns a `TraceProvider`, which now forms a loop.
- We never drop named tracers, so there is always going to be a strong reference to the inner

[2020-09-22 15:24] jtescher commented on #220
@TommyCpp yeah good point. Maybe we hold off on this one until we see if any other language implements this. Could look at what is available, or have another crate that depends on _all_ the standard exporters which adds this functionality, none of these seem like great options currently though.

[2020-09-22 15:27] jtescher commented on #181
thanks @frigus02

[2020-09-22 15:27] #181 closed

[2020-09-22 19:02] jtescher commented on #225
@frigus02 good catch, looks like we may need to go with something more along the lines of:

[code]

[2020-09-22 23:08] jtescher opened #226 "Update baggage header name to `otelbaggage`"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/981) for details.

[2020-09-23 12:46] frigus02 commented on #225
I tested using `std::thread::spawn`. Results:
- It executes the BatchSpanProcessorWorker correctly
- It does not automatically wait for the thread to finish, which leads to a panic when using the stdout exporter:
[code]

So in a way usig spawn_blocking is nice, because it plays nicely with the tokio/async_std runtime.

Can you think of a nice way to solve `shutdown` not being called at the moment

[2020-09-23 13:05] frigus02 commented on #225
[code]

Or maybe it's better to be explicit:

[code]

[2020-09-23 16:13] danrusei commented on #223
can't the otel.status_code & otel.status_description be added to tags (into_zipkin_span function) ?

tags.insert("otel.status_code".into(), span_data.status_code.to_string());
tags.insert("otel.status_description".into(), span_data.status_message.clone());

Display has to be implemented for StatusCode enum.

[2020-09-23 17:47] jtescher commented on #223
@danrusei yeah should be easy to add, I don't think that anything else needs to format status codes that way, I believe the other exports use the numeric values. Could just add a function from `StatusCode`  -> `&'static str` that formats the way zipkin expects maybe?

[2020-09-24 01:29] jtescher commented on #225
@frigus02 yeah combination of drop guard, and having tracers have weak references to tracer providers should make things better.

[2020-09-24 16:10] #156 closed

[2020-09-24 19:16] #216 closed

[2020-09-25 07:50] arminru commented on #226
Seems like it will be renamed to `baggage` now, please wait for https://github.com/open-telemetry/opentelemetry-specification/pull/993 to close.

[2020-09-25 16:06] jtescher opened #230 "Document that `null` tracestate values are invalid/undefined"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/992) for details.

[2020-09-25 16:14] jtescher opened #231 "Allow samplers to modify tracestate"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/988) for details.

[2020-09-27 20:09] #225 closed

[2020-09-28 22:10] jtescher opened #233 "Shorten otel.instrumentation_library.* attribute names"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/989) for details.

[2020-09-30 18:06] jtescher opened #234 "Error Flagging with Status Codes"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/966) for details.

[2020-10-01 02:50] TommyCpp commented on #231
If I understand it correctly. Just need to add a tracestate in SamplingResult. Should be a easy fix. I could work on this if no one else has already grab it.

[2020-10-01 04:25] jtescher opened #235 "Consider moving the propagators to from contrib to SDK"
See the [spec change](https://github.com/open-telemetry/opentelemetry-specification/pull/1043) and the [comment that explains it](https://github.com/open-telemetry/opentelemetry-specification/issues/637#issuecomment-644846847) for details.

[2020-10-02 03:39] #231 closed

[2020-10-02 18:07] jtescher commented on #112
Resolved in #232

[2020-10-02 18:07] #112 closed

[2020-10-03 21:50] jtescher opened #242 "Add prometheus exporter env vars"
See https://github.com/open-telemetry/opentelemetry-specification/pull/1021 for details.

[2020-10-05 14:11] awiede commented on #235
Should probably do the same thing for the [AWS ID Generator](https://github.com/open-telemetry/opentelemetry-rust/blob/master/opentelemetry-contrib/src/id_generator/aws_xray_id_generator.rs). I think the [logic in the comment](https://github.com/open-telemetry/opentelemetry-specification/issues/637#issuecomment-644846847) holds for that as well.

[2020-10-06 00:26] jtescher commented on #233
Resolved in #243

[2020-10-06 00:26] #233 closed

[2020-10-06 00:31] jtescher commented on #223
Resolved in #236

[2020-10-06 00:31] #223 closed

[2020-10-06 01:09] #226 closed

[2020-10-06 01:11] TommyCpp commented on #220
https://github.com/open-telemetry/opentelemetry-specification/issues/985 seems to conclude that this should be a optional env. If that's the case we could just don't implement it.

[2020-10-06 01:31] TommyCpp opened #248 "Expoters uses reqwest panic without tokio"
As [the issue](https://github.com/seanmonstar/reqwest/issues/719) points out, reqwest relys on tokio to work. Currently, any expoters with reqwest as http client will panic with following error without tokio (For example, the datadog and zipkin expoters example are broken).
[code]
Possible solution could be move away from reqwest or try to implement async and sync uploader with non-blocking and bl

[2020-10-06 02:03] #219 closed

[2020-10-06 02:05] jtescher commented on #220
@TommyCpp sounds good, closing for now. If folks want this we can re-open later.

[2020-10-06 02:05] #220 closed

[2020-10-06 02:07] jtescher commented on #248
@TommyCpp true, we chould switch them to use [isahc](https://github.com/sagebind/isahc) like the jaeger collector client does?

[2020-10-06 14:55] jtescher opened #249 "Remove `metrics` feature from default list"
As tracing gets closer to GA it makes sense to signal that metrics (and logs in the future) are still unstable.

[2020-10-06 14:57] jtescher opened #250 "Add script to run all cargo tasks"
Currently it is tedious to manually run fmt, test, clippy, etc when developing locally. Consider adding another script to ./scripts that runs all and update contributing docs.

[2020-10-06 14:58] jtescher opened #251 "Research best way to track benchmarks across PRs"
Currently benchmarks are only run manually, would be nice to have a history and possibly fail if there are significant regressions.

[2020-10-06 15:00] jtescher opened #252 "Extract common test utils"
Structs like `TestSpan` are currently re-defined in multiple test modules. Would be nice to collect into common testing utilities.

[2020-10-06 15:00] jtescher opened #253 "Remove outdated release schedule from README"

[2020-10-06 15:02] jtescher opened #254 "Move trace exports to api/trace and sdk/trace level"
Currently trace module types are flattened into the `api` and `sdk` modules directly. This may be confusing as we add metrics and log types, so consider moving them down a level into api/trace and sdk/trace.

[2020-10-06 15:13] jtescher commented on #251
@awiede mentioned https://github.com/marketplace/actions/continuous-benchmark as a possible solution.

[2020-10-06 15:59] TommyCpp commented on #248
I could give it a try to see how it goes

[2020-10-06 22:45] #249 closed

[2020-10-06 22:45] #254 closed

[2020-10-07 00:10] #235 closed

[2020-10-07 01:14] #253 closed

[2020-10-09 18:00] jtescher opened #260 "Handle baggage metadata as opaque type"
See  https://github.com/open-telemetry/opentelemetry-specification/pull/1066 for details.

[2020-10-10 21:53] jtescher opened #263 "Update trace module to use the global error handler"
Currently the trace package does not have hooks for user-defined error handling, the current global metrics error handling should be extended to to trace module.

[2020-10-12 20:36] jtescher opened #265 "Ensure `is_recording` is false after span ends"
See https://github.com/open-telemetry/opentelemetry-specification/pull/1011 for details.

[2020-10-14 15:45] jtescher opened #267 "Rename SpanContext to SpanReference"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1075

[2020-10-14 20:51] jtescher opened #268 "Update trace config max defaults"
See the spec change here for details https://github.com/open-telemetry/opentelemetry-specification/pull/942

[2020-10-14 20:53] jtescher opened #269 "Add experimental zpages"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/890

[2020-10-15 15:09] djc opened #271 "Add an exporter for Google Cloud Trace"
I'd like to export my tracing data to Google Cloud Trace for a project running in GCP. I'd be happy to do the legwork to implement this and contribute it to this project, but I'm pretty new to OpenTelemetry, tracing and GCP (though not to Rust and the tokio ecosystem), so if someone has some pointers on what needs to be done, that'd be great.

[2020-10-15 15:13] TommyCpp commented on #271
I think there is a [existing repo](https://github.com/vivint-smarthome/opentelemetry-stackdriver) that export data to Google stack driver. Is this something that you are looking for?

[2020-10-15 15:19] djc commented on #271
Maybe! There seems to be very little documentation, so not sure how I'd actually deploy it.

[2020-10-15 16:40] jtescher opened #272 "Track batch span processor metrics"
Consider adding a way to track processor metrics. See https://github.com/open-telemetry/opentelemetry-rust/pull/245#issuecomment-704608797 for discussion.

[2020-10-15 19:37] jtescher opened #273 "Consider updating trace context extensions"
Consider changing `TraceContextExt` to `TracingContextUtilities`. see the spec change here https://github.com/open-telemetry/opentelemetry-specification/pull/1063/

[2020-10-15 19:39] jtescher opened #274 "Update jaeger exporter log format"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1042

[2020-10-15 23:39] #248 closed

[2020-10-15 23:40] jtescher commented on #267
Resolved by #270

[2020-10-15 23:40] #267 closed

[2020-10-16 13:32] drexler commented on #252
@jtescher if you haven't started this, I'll like to take this on.

[2020-10-16 19:51] jtescher opened #276 "Add `with_unit` option to metric instrument builders"
Currently there is no good way to associate units with instruments, this method should be added to all the metric instrument builders.

[2020-10-16 21:48] TommyCpp commented on #260
Gonna take it if no one else is currently working on it 😄

[2020-10-16 23:45] jtescher opened #277 "Batch span exporter does not shut down properly with single threaded tokio runtime"
This blocking call will stop progress on the future it is waiting on if the `tokio` feature is used with a single threaded runtime, which results in the process not shutting down. https://github.com/open-telemetry/opentelemetry-rust/blob/3417e22547aacf285e53c56a5419df06e29249fe/src/sdk/trace/span_processor.rs#L139

[2020-10-17 10:51] zoidbergwill commented on #274
Can I take this one?

[2020-10-17 17:07] #277 closed

[2020-10-18 02:32] cpcloud opened #282 "APis return Box<dyn Error> which isn't compatibile with useful ecosystem crates"
A number of APIs, especially the `new_pipeline().install()` flavors return `Box<dyn Error>`. This trait bound is incompatible with useful ecosystem crates like `anyhow`, whose `Context` trait requires `Box<dyn Error + Send + Sync + 'static>`.

I'm happy to submit a PR to fix this. Are there any APIs where we _don't_ want this trait bound?

[2020-10-18 13:35] frigus02 commented on #282
Good point. Using `Box<dyn Error + Send + Sync + 'static>` seems sensible to me. I can't think of a reason why we wouldn't want this. Can you, @jtescher?

[2020-10-18 17:36] jtescher commented on #282
Yeah this sounds good. We want to unify the error types with the current `MetricsError` type in the future, but this can come first 👍

[2020-10-18 18:24] jtescher opened #286 "Unify Errors"
Currently the metrics module uses a `MetricsError` type while the trace module was created before the spec allowed for error results and therefore does not have any result types. Exporters are using variations of `std::error::Error`. We should consider introducing an `opentelemetry::Error` type and update the exporters to use it. `global::handle_error` should also accept this type, and the tracing

[2020-10-18 18:31] cpcloud commented on #286
Would it be appropriate to use `thiserror` library-wide?

[2020-10-18 18:40] #282 closed

[2020-10-18 19:05] jtescher commented on #286
@cpcloud yeah I think that probably makes the most sense

[2020-10-18 19:17] jtescher commented on #286
@cpcloud it could also be useful to re-evalutate the proper level of granularity, i.e. as a consumer of these APIs, what level of error information is worth responding to? Could for example go down to effectively two enum values, `Trace` and `Metrics`, and have data within those be opaque, or have some categories within those like an initialization error vs a runtime error, etc

[2020-10-18 19:49] cpcloud commented on #286
The way I would want to handle errors from this library (and related workspace crates) is:

1. `opentelemetry::Error` enum with as-specific-as-possible variants for all errors that are not specific to a framework (what are effectively the workspace crates)
1. `<workspace crate>::Error` enum with as-specific-as-possible variants for all errors pertaining to the particular framework (e.g., `opentele

[2020-10-18 21:07] jtescher commented on #286
I'd be happy to review a PR to that effect, are there good example crates that define errors well with respect to granularity that you've found?

[2020-10-20 21:57] jtescher commented on #286
https://github.com/open-telemetry/opentelemetry-rust/issues/263 would likely be a part of this

[2020-10-20 22:02] jtescher opened #290 "Update ShouldSample's parent parameter to be Context"
See https://github.com/open-telemetry/opentelemetry-specification/pull/881 for details.

[2020-10-20 23:01] jtescher opened #292 "Add Minimum Supported Rust Version"
Each crate in this workspace should list their MSRV, default probably makes sense at rust 1.42

[2020-10-21 12:39] morigs commented on #221
Do I understand correctly that the noop propagator has not yet been implemented?

And the main change is to replace composite propagator [here ](https://github.com/open-telemetry/opentelemetry-rust/blob/b47794e5818d7ba39115933ea7f752b8784cf025/src/global/propagation.rs#L11)with noop?

[2020-10-21 12:55] morigs commented on #242
The exporter doesn't seem to have a built-in server right now. He probably should have it like the rest of the exporters. I would like to suggest to expose builder interface similar to otlp exporter

[2020-10-21 13:20] morigs commented on #268
Do I understand correctly that the task is reduced to replacing [these constants](https://github.com/open-telemetry/opentelemetry-rust/blob/b47794e5818d7ba39115933ea7f752b8784cf025/src/sdk/trace/config.rs#L80-L82) with the values of environment variables (with a default value of 1000 of course)?

[2020-10-21 13:55] TommyCpp commented on #242
@morigs Sounds good. Just the other exporters don't have a http server but rather a http client. So maybe need a new trait for http server. We encountered problems that certain http client cannot run without particular runtime(like tokio) when we added http client into other expoters. So we choose to define a trait for http client and ask user to choose the one compatible with their runtime.

[2020-10-21 15:42] jtescher commented on #268
@morigs the conventions so far in this workspace have been to have constants (that need to be updated here) and the struct or builder to have a `from_env` method that would use the env vars

[2020-10-21 15:56] jtescher commented on #242
Seems like there are 3 cases that may be relevant:

1. Showing prometheus integrated with the [`push`](https://docs.rs/prometheus/0.10.0/prometheus/index.html#features) feature enabled, which is the most similar to the trace exporters.
1. Integrating prometheus into projects that have an existing web server (actix-web, rocket, etc), likely as middleware.
1. Allowing projects that do _not_ have an

[2020-10-21 16:05] morigs commented on #242
I think the second case is being covered at the moment. Case number one is quite rare, but of course must be covered too.
It seems to me that it is necessary to implement case 3 while keeping the interface for case 2.
It might be worth making a separate exporter for push gateway.
@jtescher What do you think?

[2020-10-21 16:11] morigs commented on #268
Ok. So `default()` should always use values of 1000.
But where `from_env` should be located? Is it ok to be right inside [`impl Config`](https://github.com/open-telemetry/opentelemetry-rust/blob/b47794e5818d7ba39115933ea7f752b8784cf025/src/sdk/trace/config.rs#L30)?
So usage would be `Config::default().from_env()`?
This will require adding `.from_env ()` to all places where config was created, beca

[2020-10-21 16:11] jtescher opened #293 "prometheus: Add optional feature to expose metrics over http"
Metrics should be able to be exposed by non-web applications. In order to stay executor agnostic, this feature should likely include a trait that can be implemented (and may include default impls) for common tokio and async-std web servers.

[2020-10-21 16:17] jtescher commented on #242
@morigs opened an issue to track it https://github.com/open-telemetry/opentelemetry-rust/issues/293

[2020-10-21 16:42] jtescher commented on #268
@morigs I personally prefer that env vars should always be used when available as well. This project went with the explicit version both because of conventions set by the golang impl (e.g. [`FromEnv`](https://github.com/open-telemetry/opentelemetry-go/blob/1f7c2206522accd0a176ed8d93183f1168d70939/sdk/resource/env.go#L36), [`WithProcessFromEnv`](https://github.com/open-telemetry/opentelemetry-go/bl

[2020-10-21 16:48] morigs commented on #268
Totally agreed

I believe it's better to go this way. But I'm new to the OTel ecosystem and don't know all conventions and best practices. So I rely on your decision

[2020-10-21 16:50] frigus02 commented on #221
Yes, that is exactly how I understand it as well. There is no NoopPropagator, yet. So we need to implement one. And we need to make the noop propagator the new default. The location you linked is correct.

[2020-10-21 16:53] frigus02 commented on #268
I'd be happy to move to private fields and automated environment lookup as well.

This would also enable us to add new configuration options without making that a breaking change, I think.

[2020-10-22 06:46] morigs commented on #221
Looking at the Go implementation. They [use ](https://github.com/open-telemetry/opentelemetry-go/blob/230bdd10f0d3a2d00eaebcb153a5341f0882548f/global/internal/propagator.go#L40)empty composite text map propagator
It seems this is possible with [current ](https://github.com/open-telemetry/opentelemetry-rust/blob/master/src/sdk/propagation/composite.rs)`CompositeTextMapPropagator` implementation

[2020-10-22 07:34] morigs commented on #265
It seems currently span can be ended in two ways:
- when goes out of scope ([using `drop`](https://github.com/open-telemetry/opentelemetry-rust/blob/b47794e5818d7ba39115933ea7f752b8784cf025/src/sdk/trace/span.rs#L147))
- when [`end_with_timestamp`](https://github.com/open-telemetry/opentelemetry-rust/blob/b47794e5818d7ba39115933ea7f752b8784cf025/src/sdk/trace/span.rs#L138) is called

Right now [`i

[2020-10-22 08:06] frigus02 commented on #221
Oh yes. That sounds good to me 👍

[2020-10-22 17:52] jtescher commented on #265
@morigs yeah additionally it may be a good idea to move the logic from drop to `end_with_timestamp` so other methods like setting attributes are no-ops as defined by the spec

[2020-10-23 00:41] drexler commented on #234
@jtescher i'll take this one on.

[2020-10-23 00:59] TommyCpp commented on #269
I think currently zPages should contain following components:
1. a custom span processor(zPage processor I guess) to collect spans.
2. an aggregatorto collect sample span, and record related metrics (running, error, latency buckets counts, etc.)
3. a http server to serve those data to users.

I'd image we could combine aggregator and http server and let them running in backgroud where zPage proces

[2020-10-23 01:27] jtescher commented on #269
@TommyCpp I haven't looked to much into it, but that sounds reasonable to me

[2020-10-23 01:49] drexler commented on #234
Blocked on https://github.com/open-telemetry/opentelemetry-proto/pull/224. I'll push my branch once that merges.

[2020-10-23 18:10] #274 closed

[2020-10-23 18:13] jtescher opened #295 "Export API module at crate level"
Currently users of `opentelemetry` must use types from `opentelemetry::api::trace`, we should make the `api` module private and export `trace`, `metrics`, etc, at the crate root to allow the simpler `opentelemetry::trace` to be used in the common case.

[2020-10-23 18:41] #252 closed

[2020-10-24 01:20] jtescher opened #298 "Rename SpanReference back to SpanContext"
Revert #267 see the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1127

[2020-10-25 18:03] morigs opened #300 "Add required-features to benches configuration"
Currently `cargo bench` fails with errors:
<details>
  <summary>Click to expand</summary>
  <pre>
   Compiling opentelemetry v0.9.1 (D:\projects\opentelemetry-rust)
error[E0432]: unresolved import `opentelemetry::api::metrics`
 --> benches\ddsketch.rs:2:25
  |
2 | use opentelemetry::api::metrics::{InstrumentKind, Number, NumberKind};
  |                         ^^^^^^^ could not find `metrics` in

[2020-10-25 18:08] morigs opened #301 "CONTRIBUTING.md: Add --recurse-submodule to git clone"
This repository includes git submodules (proto files for example).
I think it's more friendly and easy way to clone repository together with submodules.
So I would like to suggest to replace git clone command with following:

[code]

[2020-10-25 18:12] morigs opened #302 "Add note about prerequisites to CONTRIBUTING.md"
As a new contributor I had some problems setting up opentelemetry-rust.
 `opentelemetry-otlp` requires following:
- protoc
- cmake
- llvm (+ LIBCLANG_PATH env)

I think this should be described in the CONTRIBUTING.md. I can submit a PR

[2020-10-25 18:13] #260 closed

[2020-10-25 18:14] frigus02 commented on #300
Sounds like a good idea 👍

[2020-10-25 18:17] jtescher commented on #302
@morigs sounds good! It is unfortunate that the grpc requirements have to be set up to work on any project in this workspace.

[2020-10-25 18:31] jtescher commented on #298
Resolved in #299

[2020-10-25 18:32] jtescher commented on #292
Resolved in #296

[2020-10-25 18:32] #292 closed

[2020-10-25 20:17] #298 closed

[2020-10-25 23:26] #300 closed

[2020-10-26 00:15] #302 closed

[2020-10-26 01:25] #295 closed

[2020-10-26 09:00] morigs opened #306 "examples/basic-otlp fails to compile"
<details>
<summary>Click to expand</summary>
<pre>
error[E0277]: the trait bound `opentelemetry::exporter::metrics::stdout::ExportBatch: serde::ser::Serialize` is not satisfied
   --> examples\basic-otlp\src\main.rs:29:34
    |
29  |             serde_json::to_value(batch)
    |                                  ^^^^^ the trait `serde::ser::Serialize` is not implemented for `opentelemetry::exporter

[2020-10-26 09:05] frigus02 commented on #306
Your suggestions sounds correct to me.

We should probably also build all examples in CI to ensure we don't accidentally break them.

[2020-10-26 10:11] morigs commented on #306
👌 I'll submit a PR soon
Please, create a separate issue for CI if you consider it necessary

[2020-10-26 16:44] morigs commented on #265
@jtescher I think it's better not to move logic from drop because this will not allow to get SpanContext after end.
As an alternative I could suggest adding additional check to every method (check `end_time` for example)

[2020-10-26 16:46] morigs commented on #265
Oh-oh, I forgot that `end_time` is always set. May be we should define some new bool (`is_ended`) and set it in `end`?

[2020-10-26 17:59] jtescher commented on #265
Actually it's probably preferable to move span context outside the mutex, would also allow span context to return a reference instead of a clone which would be an improvement. I have a branch that does this that I could clean up and push.

[2020-10-26 18:31] morigs commented on #265
I have added some tests in #309
Some of them related to this issue

[2020-10-26 21:15] #306 closed

[2020-10-27 15:49] #273 closed

[2020-10-28 16:31] jtescher opened #314 "Ensure compliance with b3 propagator spec"
See the clarification of the spec here https://github.com/open-telemetry/opentelemetry-specification/pull/1045

[2020-10-29 00:43] TommyCpp commented on #314
I think we almost dodge all the bullets on this one. :joy:  The only difference is

  formats. The single-header variant takes precedence over
  the multi-header version.

When extract we will follow users' choice on encoding. But if user select `SingleAndMultiHeader`, we will try single first. Wonder if we want to change it to always try single format first and fall back to multiple version when

[2020-10-29 16:17] #301 closed

[2020-10-30 00:05] djc opened #317 "api::Value is much more loosely typed than the spec"
In particular, it allows heterogenous arrays and has a `Bytes` variant that doesn't seem to appear in the spec. Would it be useful to define it more like this?

[code]

https://github.com/open-telemetry/opentelemetry-specification/blob/9e6a3de19cb3db983b2e4d56b37ec6313fd4ffc6/specification/common/common.md#attributes

[2020-10-30 00:14] djc commented on #143
Looks like this has been implemented?

[2020-10-30 00:18] #143 closed

[2020-10-30 00:23] jtescher opened #318 "Add code coverage reporting"
Follow up from https://github.com/open-telemetry/opentelemetry-rust/issues/143

[2020-10-30 00:23] jtescher commented on #143
Code coverage was the only last item here, pulled out into separate issue as most of this has been addressed

[2020-10-30 00:35] TommyCpp commented on #318
I think https://codecov.io/ is a good choice for displaying result as many OSS projects are using it.

[2020-10-30 00:52] jtescher commented on #234
Closed via #315

[2020-10-30 00:52] #234 closed

[2020-10-30 04:17] jtescher commented on #317
Additional discussion around optional array values: https://github.com/open-telemetry/opentelemetry-specification/pull/1155

[2020-10-30 15:06] #314 closed

[2020-10-30 16:15] Farkal opened #321 "Actix Zipkin exemples"
I can't make actix work with opentelemetry-zipkin (https://github.com/OutThereLabs/actix-web-opentelemetry/issues/32) so i think it would help if there was some examples here.

[2020-10-30 18:22] jtescher commented on #321
Thanks for finding this issue! your expected configuration should work after that PR is merged

[2020-10-30 19:05] #321 closed

[2020-10-31 01:34] drexler commented on #290
@jtescher i'll take on this one.

[2020-10-31 21:54] #318 closed

[2020-11-02 01:11] TommyCpp opened #327 "Move SpanProcessor into sdk and update the type of span parameter to sdk::Span"
While applying today's change into my zpage brach. I found one issue with span parameter type being `&dyn api::Span`.
As defined in spec,

the span should be a [read/write span object](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#additional-span-interfaces), which means it should be able to read all information added into span such as span na

[2020-11-02 01:29] jtescher commented on #327
Hm maybe the SDK should provide something like a `ReadSpan` trait that the sdk's `Span` implements? Seems like the write side is covered.

[2020-11-02 01:39] TommyCpp commented on #327
@jtescher Yes the write side is covered by api level span definition. But the whole `read/write span` is a concept only apply to sdk so I think we should still move the SpanProcessor into sdk. Then maybe we could have a something like
[code]
 I can work on this if those sound reasonable.

[2020-11-02 02:20] jtescher commented on #327
True it is more defined in the SDK than the API in the spec. Sounds reasonable to me.

[2020-11-02 07:27] morigs commented on #250
Should be `cargo bench` included? Or only `cargo fmt`, `cargo clippy --all` and `cargo test --all`?

[2020-11-02 16:21] jtescher commented on #250
probably not bench, but fmt clippy and test, could have a script that calls the other two current scripts and runs `cargo fmt`

[2020-11-02 19:12] jtescher opened #330 "Tracing GA tracking"
Spec compliance:

- [x] Align `Value` with the spec (#317)
- [x] `ShouldSample`'s parent context parameter (#290)
- [x] New trace config max defaults (#268)
- [x] Ensure `is_recording` is false after span ends (#265)
- [x] Add configuration options from environment variables (#168)
- [x] Update the default propagator to be noop (#221)
- [x] Update ExportResult: use `std::result::Result` type (#331

[2020-11-02 19:27] #221 closed

[2020-11-02 20:15] frigus02 opened #331 "Update ExportResult: use std::result::Result type"
Update [`ExportResult`](https://github.com/open-telemetry/opentelemetry-rust/blob/866ae41bd238a293a9da25e8d457da3162df3aa9/opentelemetry/src/exporter/trace/mod.rs#L21) to match the latest version in the spec:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#exportbatch

Since this only defines 2 states now (error and success), we should probably

[2020-11-03 05:16] jtescher commented on #331
Is this type actually necessary anymore if there are only two possibilities? or would a result type of some kind be more idiomatic?

[2020-11-03 05:52] jtescher opened #336 "Consider moving base64 and binary propagators to contrib"
They are not currently part of the spec, we should consider moving them before GA

[2020-11-03 06:22] TommyCpp commented on #331
I think we can define a `ExportError` as `Failure` and use `Result` as return type.

[2020-11-03 06:32] TommyCpp commented on #336
:+1: Also wonder would it make sense to revisit how we structure the contrib. I think something like
[code]
maybe more align with main crate?

[2020-11-03 07:16] frigus02 commented on #331
Yeah, that's a good point. Let's use a `Result` type. I guess we either wait until #286 and make some kind of `ExportError` or we start with `Box<dyn Error + Send + Sync + 'static>`?

I wonder if we should keep the name `ExportResult` as a type alias or if we just go with a standard `Result`.

[2020-11-03 09:28] djc commented on #317
After #323, #332 and #333, I think this is now in a pretty good shape.

[2020-11-03 09:28] #317 closed

[2020-11-03 15:32] morigs commented on #265
@jtescher Hi. I'm working on moving logic from drop to `end_with_timestamp`. Two points here:
- We still must end span on drop. So I've replaced `impl Drop for SpanInner` with `impl Drop for Span` because `SpanInner` doesn't have `end` method
- `end_with_timestamp` will require mutable reference to [take ](https://github.com/open-telemetry/opentelemetry-rust/blob/fab694009309d271b3e1c6140a0891d2a7

[2020-11-03 15:38] morigs commented on #250
I'm looking at `test.sh`. There commands for testing opentelemetry, opentelemetry-contrib, opentelemetry-jaeger and opentelemetry-zipkin crates. Should other crates be added?

[2020-11-03 16:13] jtescher opened #337 "Switch jaeger collector client to use `HttpClient` trait"
Should use the same pattern as Zipkin/Datadog exporters

[2020-11-03 16:16] jtescher opened #338 "Consider allowing multiple attributes to be set at once"
Currently span attributes must be set one at a time, and take a (likely uncontended) lock each time. Consider whether it is worth it to have a second method that takes an array of kv, or if the method should take a generic. Possibly not necessary, but we should decide before GA

[2020-11-03 16:22] #327 closed

[2020-11-03 19:57] jtescher commented on #331
Seems like the only purpose here may be calling an error handler as both success and failure will drop the span data. If that is the case then #263 may be the only code path that would use this type?

[2020-11-03 20:23] jtescher commented on #265
@morigs I believe drop has to be on `SpanInner` because you can have many clones of a span and the first drop does not necessarily imply span end. It _should_ be possible currently if you move the logic in drop to a function that can be called from span or on inner drop. Maybe something along the lines of:

[code]

[2020-11-03 20:32] jtescher commented on #250
Ideally this would run `cargo test` to run with the default features, and `cargo test --all-features` to run tests with all the features set (the full feature matrix is probably not something we want folks to run locally). It looks like those manifest tests are to work around the issue that currently cargo will not actually pick up the individual crate feature flags when `--all-features` is set at

[2020-11-03 21:36] jtescher opened #340 "Consider moving `exporters` module to sdk"
It may be better to have the exporters in the sdk to clarify that they are not part of the API. Could move to https://github.com/open-telemetry/opentelemetry-rust/tree/master/opentelemetry/src/sdk/export

[2020-11-04 06:02] morigs commented on #250
What do you think about [cargo-make](https://sagiegurari.github.io/cargo-make/)? Is it worth trying?

[2020-11-04 08:24] frigus02 commented on #331
Yeah, that's how I understand this as well.

[2020-11-04 17:55] jtescher commented on #250
I think this could likely be accomplished with something as simple as `$ cargo fmt && ./scripts/lint.sh && ./scripts/test.sh`

[2020-11-05 03:30] #265 closed

[2020-11-05 04:29] #336 closed

[2020-11-05 05:33] TommyCpp commented on #338
I don't see why we can't implement one. This should improve ergonomics and  seems easy to add.  I think maybe take a generic iterator of KV?

[2020-11-05 05:59] jtescher commented on #338
Give it a shot and see if it is ergonomic, can look at the benchmarks too to see if batch inserts matter there

[2020-11-08 18:15] frigus02 opened #349 "Implement SpanProcessor::force_flush"
Implement `force_flush` as specified here: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#forceflush

[2020-11-08 22:08] #331 closed

[2020-11-09 08:58] zloypacifist opened #351 "Sampler::TraceIdRatioBased problem"
I've used code from example basic

[code]
With sampler always on everything works fine, but when I use Sampler::TraceIdRatioBased(0.25) sometimes I receive in jaeger just sub span. So span "operation" didn't sampled, but "Sub operation" sampled
![image](https://user-images.githubusercontent.com/2009979/98520210-8e6d5980-2293-11eb-9d6c-d192fb7af4b6.png)

How can I use ratio < 1.0

[2020-11-09 09:05] frigus02 commented on #351
Hm, good question. You might was to use the `ParentBased` sampler. If I understand it correctly, it will only make a sample decision for root spans. All child spans use the same decision as their parent. So you should only sample full traces.

[code]

[2020-11-09 11:13] zloypacifist commented on #351
Doesn't work.
[code]
Now span "operation" doesn't sample at all. sub and sub2 sampled separately.
![image](https://user-images.githubusercontent.com/2009979/98534630-8ff44d00-22a6-11eb-8b4d-01f1e9099684.png)

[2020-11-09 18:07] jtescher commented on #351
@zloypacifist  thanks for reporting this, it appears to be a bug in the parent based sampler where dropped parent spans are being filtered out, making the children root spans.

[2020-11-09 19:15] jtescher opened #355 "Zipkin: Do not send status unless ok or error"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1186

[2020-11-09 21:50] #351 closed

[2020-11-10 04:45] zloypacifist commented on #351
thank you very much, fix works fine!

[2020-11-10 16:30] jtescher opened #356 "Implement the standard performance benchmark"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/748

[2020-11-11 01:32] jtescher opened #357 "Remove options from array values"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1214

[2020-11-11 17:04] #357 closed

[2020-11-11 18:09] #349 closed

[2020-11-11 18:23] TommyCpp commented on #338
So I image we could also close this issue and remove it from GA checklist?

[2020-11-11 18:28] #338 closed

[2020-11-12 17:09] jtescher opened #361 "Move 3rd party propagators to contrib"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1144

[2020-11-16 20:20] jtescher opened #363 "Update default otlp port number"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1221

[2020-11-19 15:43] boxdot opened #364 "Batch span processor shutdown deadlock on non-futures runtime"
This line https://github.com/open-telemetry/opentelemetry-rust/blob/310df359a0b58b4377b9f8cf6ee3512cd15573db/opentelemetry/src/sdk/trace/span_processor.rs#L217 deadlocks a `BatchSpanProcessor` if it was spawn on a different runtime than the `futures` crate executor.

Test to reproduce: https://github.com/boxdot/opentelemetry-rust/commit/63dd30c4600ef3b0e03ab126167406f09af1eaa1

There is another pl

[2020-11-19 18:07] danburkert commented on #286
Perhaps at the risk of piling on here, I'm finding `opentelemetry-jaeger` to be difficult to work with because the error type it returns `Box<dyn std::error::Error + ...>` doesn't impl `std::error::Error`.  If this isn't clear, see this compile failure: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f14fe95aeec58829b465ddad594f1e41

[2020-11-20 14:17] frigus02 commented on #286
Hm, that doesn't compile for me because `dyn Error` isn't sized. When I change this to `&dyn Error` and call `as_ref()` on the boxed error, it compiles successfully ([updated playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=815cfbe3684a3eb27c296c434bc7c6a4)). I thought this is how it's supposed to work. But then again, my experience with writing good errors in Ru

[2020-11-23 16:53] jtescher opened #369 "Add metrics support to otlp exporter"
Currently `opentelemetry-otlp` only supports exporting traces, we should add support for metrics now that there is a compliant impl.

[2020-11-25 23:55] lucacasonato opened #370 "Add Google Trace propagator"
Should this be added to `opentelemetry` or `opentelemetry-contrib`? Unless anyone else wants to implement this, I will do it.

Go implementation for opencensus: https://github.com/census-instrumentation/opencensus-go/blob/v0.22.5/exporter/stackdriver/propagation/http.go

[2020-11-26 00:19] jtescher commented on #370
I think @djc was moving some of https://github.com/vivint-smarthome/opentelemetry-stackdriver over, could work out what the best path forward is for that. I think either way the contrib crate is probably the best place for it currently.

[2020-11-26 04:32] TommyCpp commented on #370
I think https://github.com/vivint-smarthome/opentelemetry-stackdriver only have `exporter`. If that's the case, then I don't know anyone else is working on the propagator.

[2020-11-26 04:38] jtescher commented on #370
@TommyCpp good point, can be done separately if they only have an exporter. Looks like contrib is still the right place for the propagator either way according to [the propagators distribution spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/context/api-propagators.md#propagators-distribution).

[2020-11-27 12:46] djc commented on #370
@jtescher I still don't like the idea of throwing a bunch of otherwise unrelated code in a single contrib crate; it would probably need complex feature combinations to make sure dependencies match your particular needs at any time. What's the argument against doing a top-level opentelemetry-google-cloud-ops crate (to be bikeshedded) containing both an exporter, a propagater, and whatever else make

[2020-11-27 18:34] jtescher commented on #370
@djc I think having a top level crate works as well for common exporters like aws/gcp, having more niche exporters like newrelic/datadog at the top level could become a maintenance burden. Was mentioning contrib for propagator-only additions where a full crate is a bit heavy, but as this will likely end up having both, a new crate makes sense.

[2020-11-30 19:36] TommyCpp commented on #286
close via #371

[2020-11-30 19:36] #286 closed

[2020-12-01 15:11] kjvalencik opened #374 "feat(opentelemetry-jaeger): Add feature to enable statically linking isahc"
# Summary

Default features in `isahc` are disabled which includes statically linking cURL. Add a feature flag to `opentelemetry-jaeger` to enable static linking.

## Use Case

Some environments do not have a system libcurl or may have an incompatible version. For example, iOS.

## API Sketch

[code]

[code]

[2020-12-01 17:10] jtescher commented on #374
I think this can be accomplished once https://github.com/open-telemetry/opentelemetry-rust/issues/337 is introduced. At that point you can bring whichever http client you prefer.

[2020-12-01 17:24] kjvalencik commented on #374
@jtescher That's awesome! That would be perfect. For my use case, `isahc` isn't a great choice either because it requires opening a UDP socket.

I'll close this issue since that feature is a superset of this one.

[2020-12-01 17:24] #374 closed

[2020-12-05 20:59] #290 closed

[2020-12-07 00:32] #361 closed

[2020-12-07 00:32] #340 closed

[2020-12-09 12:31] wronan opened #376 "`Sampler::AlwaysOff` behavior doubts (AKA how to disable data sampling)"
Ladies and gentlemen, I'm having doubts about the logic behind `Sampler::AlwaysOff`

Being new to the tracking concept it's my understanding that Sampler offers
* inheritance (`ParentBased`),
* direct setting of the sampling ratio (`TraceIdRatioBased`),
* default sampling (`AlwaysOn`)
* and no sampling at all (`AlwaysOff`)

Here comes my problem: shouldn't `Sampler::AlwaysOff` mean that no samplin

[2020-12-09 16:32] jtescher commented on #376
@wronan you can see the spec for the sampler here: https://github.com/open-telemetry/opentelemetry-specification/blob/15ac35c174f097b37e4e7b8a3653700bb2e7e763/specification/trace/sdk.md#alwaysoff, any deviations from the spec you find are indeed bugs, but in this case it looks like that is the required result.

Happy to accept a docs pr if they are not clear about how the sampler works in this cod

[2020-12-10 03:19] jtescher commented on #47
Closing this for now, can re-open if there is renewed interest in creating a more ergonomic macro API

[2020-12-10 03:19] #47 closed

[2020-12-10 12:07] wronan commented on #376
Oh... indeed that's what specification says.

I'd still argue that since `Sampler::AlwaysOn` means that sampling is enabled and only some portion of the traces is being stored, then `Sampler::AlwaysOff` means that sampling is disabled thus all traces are being stored instead of none of them like it's currently implemented.

My goal is to trace every request - without sampling.
Even if I employ `Tr

[2020-12-10 17:59] wronan commented on #376
I think I get it now - sorry for the mess.
`Sampler::AlwaysOn` records all data. To me such nomenclature seems a bit misleading because I'd bet my life on it that if "sampler" is ON then it means that incoming data will be sampled (meaning not all data is being stored). Apparently here it means something completely different.

Still wondering what `RecordOnly` variant of `SamplingDecision` is for

[2020-12-10 17:59] #376 closed

[2020-12-10 19:47] jtescher commented on #376
@wronan yeah the nomenclature in the spec is not always the most intuitive, feel free to open issues or PRs at https://github.com/open-telemetry/opentelemetry-specification to add clarity.

[2020-12-11 03:02] jtescher opened #380 "Set status tag in Zipkin & Jaeger"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1257/

[2020-12-11 03:27] #337 closed

[2020-12-11 03:41] TommyCpp commented on #330
Feels like would be a difficult criteria to meet now as most of the crates in Rust are pre 1.0

[2020-12-11 04:45] jtescher commented on #330
@TommyCpp good point, clarified it to only include ones in public interfaces

[2020-12-11 19:29] jtescher opened #381 "Remove resource reporting from zipkin"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1185

[2020-12-12 18:48] #355 closed

[2020-12-13 01:45] TommyCpp commented on #263
close via #371

[2020-12-13 01:45] #263 closed

[2020-12-14 17:14] #380 closed

[2020-12-14 17:16] jtescher opened #384 "Define default for service.name"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1269

[2020-12-16 18:04] markdingram opened #386 "Propagate Resource from Span to proto (Tonic)"
The excellent change to add Tonic in https://github.com/open-telemetry/opentelemetry-rust/pull/352 didn't inherit the fix to populate Resource from the Span to proto from https://github.com/open-telemetry/opentelemetry-rust/pull/366

Will provide a PR unless something is already in the works?

[2020-12-16 20:58] jtescher commented on #386
Ah yeah looks like that one got missed, PRs appreciated 👍

[2020-12-16 21:04] drexler opened #387 "Missing documentation for opentelemetry-otlp crate on docs.rs"
Link: https://docs.rs/crate/opentelemetry-otlp/0.3.0

[2020-12-17 04:02] #363 closed

[2020-12-17 17:36] #381 closed

[2020-12-21 09:46] MatteoJoliveau opened #394 "prometheus: metrics keep increasing on their own"
Hi folks! I'm experiencing a weird behaviour with the `opentelemetry-rust` crate and Actix Web.

Here's what's happening:

Whenever a metric is kicked off, it starts increasing on its own without any other interaction with the system. E.g. A counter increasing on every HTTP request keeps ticking up even if no requests are coming in.

I prepared a little [repro project](https://github.com/matteojol

[2020-12-21 18:08] jtescher commented on #394
Thanks for reporting this, I think there is an issue merging metrics that could cause this.

[2020-12-22 02:29] TommyCpp commented on #394
The bug I observe is that we "replay" the last delta of the sum when we refresh the metrics page. For example, if I access the greeter 3 times. Then check the metrics page. The value would be 3, 6, 9... for each time I refresh the metrics page.

I think the issue is here we added the sum of the aggregator from the instrument into the aggregator from the processor. But we didn't reset the sum in in

[2020-12-22 17:57] jtescher commented on #394
@TommyCpp thanks for looking into this. Should that line actually be `if stale && stateless && !has_memory`?

[2020-12-22 18:20] TommyCpp commented on #394
Yeah that's a bug. But not the one that causing it. We should have something like this
[code]
So the real issue is that we updated the cumulative value with the current value when there is no updated in this round of collection.

[2020-12-23 01:55] jtescher commented on #394
@TommyCpp was preparing to cut a release. Let me know when you have something ready and we can get this fix in 👍

[2020-12-23 02:07] TommyCpp commented on #394
@jtescher Sorry I forget it earlier. Opened it.

Also, I think the `opentelemetry.rs` of this repro project can be a good example of `opentelemetry-rust`. I guess we can include it?

[2020-12-23 02:26] #394 closed

[2020-12-23 02:28] jtescher commented on #394
@TommyCpp either way. The examples here are a little prometheus specific in that it explicitly renders in that format. Think the metrics examples that aren't otlp seem to do better within the context of the exporter

[2020-12-23 09:47] markdingram commented on #386
this was merged in https://github.com/open-telemetry/opentelemetry-rust/commit/4390213c700443369e6b34bedf754ccb81c208eb

[2020-12-23 09:47] #386 closed

[2020-12-23 12:32] MatteoJoliveau commented on #394
Let me say I'm absolutely astonished at the speed and efficiency this issue was accepted and fixed. I opened it with the hope of gathering more information about the problem at hand and maybe get some insight into the library to work around it while waiting for a fix. Never would I expect to have it patched so quickly. I can only thank you folks so much, I can get back to my work now and confident

[2020-12-27 00:10] gnieto opened #397 "`actix-http-tracing` example not working as expected"
I was trying the `actix-http-tracing` example on this repo and I found that the second request to `/metrics` do not respond.

Steps to reproduce:

1- cargo run
2- `curl http://localhost:8080/users/a`
3- `curl http://localhost:8080/metrics` (this request responds as expected, with the Prometheus metrics)
4- `curl http://localhost:8080/metrics` (this request do not respond)

CPU goes up to 100% afte

[2020-12-27 05:17] TommyCpp commented on #397
Thanks for reporting this issue. Although I tried the example but failed to reproduce the problem. I have the following responses.
[code]
The values from the metrics page are off. But that's a known issue, we have a patch for it and is working on rolling it out. Please let me know if I am missing something here.

[2020-12-27 19:41] TommyCpp commented on #387
hmm, it indicates we are trying to create proto files in src dictionary. Looks like we were trying to build files with grpcio in src. We should build it into OUT_DIR instead.
https://github.com/open-telemetry/opentelemetry-rust/blob/c56866bb6152a2ffe8310b8c17a22d07189047a0/opentelemetry-otlp/build.rs#L42

[2020-12-29 19:52] djc opened #403 "Move integration code out of the main opentelemetry crate"
Into separate integration crates. This makes for more smaller crates, but makes sure we don't have dependencies in the core that we shouldn't have (which causes to have to upgrade in lockstep with their releases).

[2020-12-29 19:57] djc commented on #403
Things that probably qualify:

* async-std
* bincode?
* regex?
* tokio
* tonic
* reqwest
* surf

[2020-12-29 21:32] frigus02 opened #404 "Remote span context is not taken from current context"
While updating the opentelemetry-application-insights exporter I noticed one of my examples wasn't working anymore. The example starts a new processes and passes through the span context using one of the propagators. But the new processes didn't use the remote span context anymore.

Code that worked with 0.10.0 but doesn't with 0.11.0:

[code]

Code that works correctly with 0.11.0:

[code]

Full

[2020-12-29 21:34] frigus02 commented on #404
The issue is likely that the code path for the current context doesn't look at the remote span context:

https://github.com/open-telemetry/opentelemetry-rust/blob/ddcf8a4b4e53fe79c055934e94d56680c5d869ed/opentelemetry/src/sdk/trace/tracer.rs#L193

[2020-12-29 21:56] jtescher commented on #403
👍 could also consider http and the testing utils as candidates

[2020-12-29 22:06] #404 closed

[2020-12-30 14:58] TommyCpp commented on #403
For proto definition. I'd suggest we move it to a separate it into separate crate(`opentelemetry-proto` maybe)? And support `grpcio` or `tonic` there.

[2020-12-30 16:19] djc commented on #403
If we need to support grpcio *and* tonic, those should probably be two separate crates IMO.

[2020-12-31 04:47] jtescher commented on #397
I think I found how this could be happening currently. @gnieto can you see if this resolves your issue?

[2020-12-31 13:43] gnieto commented on #397
Hi @jtescher ,

I've tried the patch on https://github.com/open-telemetry/opentelemetry-rust/pull/407 and it seems that it's working now.

[2021-01-04 11:56] djc commented on #403
I spent the morning looking at this. The `Injector` and `Extractor` interfaces are tricky, because coherence requires that implementations for foreign types live in the same crate as the trait definitions. I did some experiments with using propagator types that implemented `Extractor<T>` (with `T` something like `http::HeaderMap`), but this clashes with the design of the global propagator, which c

[2021-01-05 16:21] djc commented on #403
#415 moves the dependencies on http, reqwest and surf into a separate opentelemetry-http crate. At this point I'm inclined to leave tokio and async-std in, as they're pretty stable anyway (especially now that tokio has gone 1.0).

[2021-01-08 00:30] TommyCpp commented on #397
Close via #407

[2021-01-08 00:30] #397 closed

[2021-01-09 20:19] jtescher commented on #369
Resolved in #402

[2021-01-09 20:19] #369 closed

[2021-01-11 15:24] alexkirsz opened #420 "Upgrade to Tokio 1.0"
rust-opentelemetry currently depends on Tokio 0.2. [Tokio 1.0 released on December 22](https://tokio.rs/blog/2020-12-tokio-1-0) and some of the ecosystem has started moving over to it ([hyper](https://github.com/hyperium/hyper/blob/master/CHANGELOG.md#v0140-2020-12-23), [reqwest](https://github.com/seanmonstar/reqwest/blob/HEAD/CHANGELOG.md#v0110), [rusoto](https://github.com/rusoto/rusoto/blob/ma

[2021-01-12 12:41] mraerino commented on #420
i'm working on this

[2021-01-12 12:48] mraerino commented on #420
Fix here: https://github.com/open-telemetry/opentelemetry-rust/pull/421

[2021-01-14 04:29] danburkert opened #426 "PipelineBuilder::with_collector_endpoint API is error prone"
When passing a malformed URI to [`PipelineBuilder::with_collector_endpoint`](https://github.com/open-telemetry/opentelemetry-rust/blob/b2ab7996c6dcc5f0df6ee4185570d156f7c969ff/opentelemetry-jaeger/src/exporter/mod.rs#L211), the failure to parse the URI is silently discarded and trace collection is not enabled.  This is easy to mess up, for instance by passing `127.0.0.1:14268/api/traces` instead o

[2021-01-14 04:36] danburkert opened #427 "PipelineBuilder::install & Uninstall APIs are error prone"
When `Uninstall` drops it disables trace collection, which forces callers to use `mem::forget` in instances where global trace collection is enabled in a function other than `main`.  The [primary example](https://github.com/tokio-rs/tracing/blob/master/examples/examples/opentelemetry.rs) I've found of using opentelemetry-jaeger does not point this out, and it can be very difficult to debug why tra

[2021-01-14 04:39] danburkert commented on #427
Couple more thoughts:

The `#[must_use]` annotation on `Uninstall` is worthless, since most callers will use the results of `build` since they need the tracer, but the `Uninstall` is frequently not used, as in this example: https://github.com/open-telemetry/opentelemetry-rust/blob/master/examples/tracing-grpc/src/server.rs#L48-L50.

Can the lifetime of trace collection be tied to the tracer instea

[2021-01-14 18:29] jtescher commented on #427
@open-telemetry/rust-approvers this does seem to be a common footgun for people coming to otel. Thoughts on alternative span flushing strategies? Could think about #364 in relation to this as well.

[2021-01-14 18:34] jtescher commented on #426
Few options here, could have the builder accept a `http::Uri` directly, or warn using the global error handler if invalid, or change to `Option<Result<http::Uri>>` and have the builder return an error if the uri is not valid.

[2021-01-14 20:45] djc commented on #426
The first option seems neat but would make it a little harder to use. The last option sounds good to me.

[2021-01-14 20:52] djc commented on #427
As I recall, the uninstall return widget thing was added relatively recently, do you remember why/what problem it solved? It did strike me as pretty surprising (and looking at my own code, it might have similar issues).

[2021-01-14 21:11] jtescher commented on #427
It is currently used as the mechanism to shut down the batch span processor so the current batch is sent before the process exists. This is currently done when the tracer provider is dropped and as it is often registered as a global, the uninstall guard deregisters the global.

Alternatives could include a better way of accomplishing this "send spans async before process exit" behavior, or simply

[2021-01-15 01:03] TommyCpp commented on #427
IMHO we can implement [the `shutdown` method for `Provider`](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#shutdown) and ask the user to shut down the provider explicitly. Furthermore, we can use Procedural Macros to shut down for users. For example
[code]

[2021-01-15 03:25] #426 closed

[2021-01-15 07:42] frigus02 commented on #427
Agree with footgun. It seems to be a constant point of surprise. Requiring folks to manually call shutdown/force_flush might be less surprising.

I feel like we can't be the only ones with this problem. How are others solving this? Does Tokio have a similar situation? Isn't there a global runtime that has to exist? Otherwise certain functions panic. Options for the developer are:

- A macro on mai

[2021-01-15 09:52] djc commented on #427
A tokio runtime will shutdown when you drop the `Runtime`. The problem here is that we get two return values, one of which is apparently *only* used to shut it down. A tokio `Runtime` can also be manipulated (but not shut down, apparently) by getting a `Handle` on it through `Handle::current()`, maybe something like that would be a viable option. Why aren't we coordinating shutdown through the res

[2021-01-15 10:56] frigus02 commented on #427
I think that's mainly because you can have multiple tracers for the same tracer provider. The tracer provider is supposed to do the final shutdown if I remember correctly.

The integration with `tracing` is possibly a separate discussion. When you're using `tracing` you probably don't need the globally registered tracer provider. Because `tracing` comes with it's own globally registered subscriber

[2021-01-15 20:00] jtescher commented on #427
Requiring the user to call a function is certainly an option, e.g. go has pipelines return a flush method https://github.com/open-telemetry/opentelemetry-go/blob/0df8cd620c46567b38a70f1f1a8e968d0a806c06/example/jaeger/main.go#L33.

[2021-01-17 08:55] smhmayboudi opened #430 "the trait bound `tonic::metadata::MetadataMap: opentelemetry::propagation::Extractor` is not satisfied"
Thanks in advance for all your efforts. I update my project from tonic 0.3.1 to 0.4.0. However, I am receiving an error. Is this related to your crate since you are using the old version of tonic?
[code]
Error
[code]

[2021-01-17 13:04] djc commented on #430
Yes, opentelemetry doesn't yet support tonic 0.4. In fact, in #414 I've removed support for tonic directly from the opentelemetry crate. You can look at the diff for the commit to see how to add back the (fairly trivial) impls to make it work again. If there's enough demand, I suppose we could release a separate crate with tonic support that includes these impls.

[2021-01-17 13:34] djc commented on #427
That at least sounds like an improvement. Is "flushing the remaining spans" the goal of being able to uninstall the tracer?

And speaking of the tracing integration, I feel like some parts of the opentelemetry crate don't get used in the case of using tracing to collect spans. Maybe we should make that more clear in the API somehow, by clearly separating parts of the API that overlap with tracing

[2021-01-17 15:12] smhmayboudi commented on #430
So are you going to remove `features = ["tonic"]` from opentelemetry crate as well.

[2021-01-17 15:15] djc commented on #430
Yes, it has been removed from the master branch.

[2021-01-17 15:17] #430 closed

[2021-01-17 17:08] TommyCpp commented on #427
I think the Uninstall in question is for TraceProvider. And when it drops, it replaces the current TraceProvider with the previous one(if there isn't one available, use no-op TraceProvider). Since the current TraceProvider will then out of scope. It will be dropped and calling the `shutdown` method on all of its processors, which will flush all remaining spans.

If we are going to get rid of Unins

[2021-01-17 20:55] jtescher commented on #427
Yeah as @TommyCpp said it facilitates shutting down the SDK. Basically we want a way to make sure that the behavior defined in the [`SpanProcessor::shutdown` spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/sdk.md#shutdown-1) and [`Exporter::shutdown` spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/tra

[2021-01-18 17:20] #420 closed

[2021-01-20 02:30] TommyCpp commented on #427
Please correct me if I am wrong @jtescher. In the current implementation, `TraceProviderGuard` also helps maintain a stack of TraceProvider, when `TraceProviderGuard` drops, it reset the global trace provider to the previous one. For example

[code]
The problem this issue describes is that when you set_tracer_provider in a function. It won't send any spans. I would guess the reason is the tracer p

[2021-01-21 23:51] jtescher opened #434 "Rename batch span processor delay and timeout env vars"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1325

[2021-01-22 18:08] jtescher opened #437 "Rename default branch to `main`"
Requires a TC member to update. (cc @SergeyKanzhelev)

[2021-01-22 18:10] jtescher commented on #276
Resolved in #431

[2021-01-22 18:10] #276 closed

[2021-01-22 19:44] SergeyKanzhelev commented on #437
Done

[2021-01-22 19:44] #437 closed

[2021-01-27 21:28] jtescher opened #441 "Jaeger exporter max UDP packet size config"
The jaeger agent exporter needs to cap the UDP packet max length to `65000` to be in sync with the jaeger server impl and avoid span data loss. Needs to send and start a new batch with remaining spans if over that limit.

[2021-01-28 22:35] samschlegel commented on #434
Just leaving a note that when this is done we should make sure to keep compatibility with the old env vars, as reverting back to the defaults for these values can lead to silently dropped spans.

Might try tackling https://github.com/open-telemetry/opentelemetry-rust/issues/272 in the next couple weeks which could help people catch regressions like that

[2021-01-30 01:00] imox2 commented on #387
@TommyCpp
Cargo exposes OUT_DIR environment variable to your crate when it is compiled.

OUT_DIR — If the package has a build script, this is set to the folder where the build script should place its output.

We can use this but then I think we will also have to use OUT_DIR to provide path for include compiled rust files in src/proto.rs?

**Like:**
[code]

**Instead of**:
[code]

[2021-01-30 04:31] TommyCpp commented on #387
@imox2 I think `grpc-io` generates an organized module instead of just files(like tonic does). So we could just match that module path. But yeah we probably shouldn't leave the generated file at the root of OUT_PUT path.

Also, I think this issue has been fixed when we added support for tonic, the [current version](https://docs.rs/crate/opentelemetry-otlp/0.5.0) can build doc without errors.

[2021-02-02 07:30] fourbytes opened #447 "Setting agent endpoint via env does not support hostnames"
According to the [environment variables specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md), the `OTEL_EXPORTER_JAEGER_AGENT_HOST` environment variable should support a hostname like 'localhost', however opentelemetry-jaeger parses the host/port using `std::net::SocketAddr` which only allows an IP address.

This one had

[2021-02-02 17:04] #447 closed

[2021-02-07 18:20] ozerovandrei commented on #168
Note that OTLP Exporter spec was updated: [exporter.md](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/exporter.md)

[2021-02-11 02:40] TommyCpp opened #454 "Decide the naming convention of environment variable constants"
Follow up on the discussion from #451, we should decide the name convention of environment variable constants

[2021-02-20 21:40] jtescher commented on #230
You cannot set null values through the current API, closing this unless other null issues arise.

[2021-02-20 21:40] #230 closed

[2021-02-20 21:43] jtescher commented on #387
Working currently https://docs.rs/opentelemetry-otlp/

[2021-02-20 21:43] #387 closed

[2021-02-20 21:44] jtescher commented on #403
@djc is the work related to this issue complete? or should we keep this issue open

[2021-02-20 21:50] TommyCpp commented on #403
I want to mention that we need to update the doc in `opentelemetry/lib.rs`. Especially the `Crate Feature Flags` part.
https://github.com/open-telemetry/opentelemetry-rust/blob/f79586b4caae79d26abd3e6ba69fa230c7c68f0e/opentelemetry/src/lib.rs#L36-L54

[2021-02-22 03:51] #168 closed

[2021-02-22 03:51] #268 closed

[2021-02-22 03:51] #434 closed

[2021-02-22 17:23] #441 closed

[2021-02-23 19:06] GSGerritsen opened #460 "Does the OTLP collector endpoint fail silently?"
I'm trying to use the `opentelemetry-otlp` crate together with `tracing`, and I'm wondering how the `with_endpoint` part of the builder works.

This is how I'm initializing the tracer:

[code]
Where `host_ip` is from kubernetes (using the daemonset + standalone service approach shown [here](https://opentelemetry.io/docs/collector/getting-started/#kubernetes)).

I've tried setting the port above to

[2021-02-23 20:00] djc commented on #460
Are you making sure the `_uninstall` value doesn't fall out of scope? If it does, the collector will be shut down.

[2021-02-23 20:56] GSGerritsen commented on #460
So that's something I was suspicious about - we're setting the tracer up in a macro and I was wondering if somehow `_uninstall` was going out of scope. But when I have the right address in `with_endpoint`, the traces do get sent to the collector regardless of if initialized via macro or not.

To double-check, just now I rebuilt everything using the wrong address, and no errors appear. But obviousl

[2021-02-25 00:46] TommyCpp commented on #460
hmm did you try to send spans after installing @GSGerritsen ? I tried to run the [basic-otlp](https://github.com/open-telemetry/opentelemetry-rust/tree/main/examples/basic-otlp) example without collector and get the following error in the console.

[code]

[2021-02-25 00:50] TommyCpp commented on #271
close as there is https://crates.io/crates/opentelemetry-stackdriver existing

[2021-02-25 00:50] #271 closed

[2021-02-25 16:51] djc commented on #271
Yeah, I'm mostly maintaining it, so I guess the situation is okay for now.

[2021-02-25 18:43] TommyCpp commented on #330
The spec around tracing has stabilized and I see they are checking with language SIG on their progress to GA on tracing. We might want to review the spec and see what we are missing. I can tell we still need to add `http/json` and `http/protobuf` support for `opentelemetry-otlp`.

Also need to add logs in our API and SDK. Now that the `opentelemetry` log spec has decided that they will respect log

[2021-02-25 19:56] djc commented on #330
I think we should probably use tracing instead of log?

[2021-02-26 07:14] mikeumus opened #461 "TraceError wrong number of type arguments: expected 1, found 2"
[code]

`init_tracer()`
<img width="699" alt="Screen Shot 2021-02-26 at 2 13 10 AM" src="https://user-images.githubusercontent.com/57934/109267818-30c83300-77d8-11eb-842e-41bcbd62363c.png">

[code]

`🟥 init_tracer() signature error`
[code]
`🟥 init_tracer() return error`
[code]

`cargo.toml`
[code]

Been stuck on this. Following the examples and docs closely:
- Jaeger `TraceError ` example: https:/

[2021-02-26 07:30] mikeumus commented on #461
It liked the full crate paths:

[code]

[2021-02-26 07:30] #461 closed

[2021-02-27 16:32] TommyCpp commented on #330
@djc I am a little worried that we would have cycle dependency if we want to use `opentelemetry-log` for log SDK and tracing for logging API because `tracing-opentelemetry` depends on `opentelemetry`

[2021-02-27 19:23] #364 closed

[2021-02-27 19:23] #427 closed

[2021-03-01 03:45] sjoshid commented on #460
I spent a day trying to figure out why I was getting crickets instead of traces/spans.

[2021-03-02 09:50] djc commented on #403
@TommyCpp thanks for taking care of the documentation update.

I think this ticket is complete, closing.

[2021-03-02 09:50] #403 closed

[2021-03-05 08:17] kstasik opened #468 "batchexporter doesnt export spans when batch size is reached"
I think there are some issues with BatchExporter. We are using opentelemetry-otel on some services and we have huge gaps during high traffic testing:

Correct me if i'm wrong but in rust the only way of triggering export is interval:

https://github.com/open-telemetry/opentelemetry-rust/blob/v0.12.0/opentelemetry/src/sdk/trace/span_processor.rs#L277-L281

in golang when first batch is full it trig

[2021-03-05 08:18] kstasik commented on #468
What is more i didn't notice any indicator of number of spans dropped like:

https://github.com/open-telemetry/opentelemetry-go/blob/9524ac095466565e01746600da3d83f27220a5da/sdk/trace/batch_span_processor.go#L282

[2021-03-05 20:05] kstasik commented on #468
why this pr has been closed, not merged? https://github.com/open-telemetry/opentelemetry-rust/pull/245/commits/f67c61255df91fb03b4ea0b28ad789a2cd4815b3

[2021-03-05 20:15] djc commented on #468
You can read the PR discussion: https://github.com/open-telemetry/opentelemetry-rust/pull/245.

[2021-03-05 20:36] kstasik commented on #468
@djc shouldn't behaviour of sdk be unified across opentelemetry libs in all languages if it's possible? I think i understand @jtescher arguments but can changing it be reconsidered?

Currently there is no possibility in rust to increase frequency of publishing spans when traffic increases (but there are
possibilities to protect collector from high load/decrease traffic like sampling).

Right now s

[2021-03-06 00:52] TommyCpp commented on #468
Hi, [the spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#batching-processor) isn't clear about when should the batch span processor export the spans.

As for the implementation here, we could keep the `max_queue_size` so that the buffered spans won't cause OOM and export the spans when the size of queue reaches the `max_export_size`. I think

[2021-03-06 21:26] TommyCpp commented on #403
@jtescher @djc I don't think we published the `opentelemetry-aws` and `opentelemetry-datadog`. Should we do that?

[2021-03-06 23:39] jtescher commented on #403
@TommyCpp yeah I think we could probably cut a new release, want to prepare the changelogs?

[2021-03-08 07:01] alechenthorne opened #472 "Rustls Support for Reqwest client"
Is there any desire to support Rustls either by default or with a feature flag for the reqwest client used in these crates? It would be nice to not have to link OpenSSL.

[2021-03-08 07:25] djc commented on #472
I'm a rustls maintainer so I'm generally in favor of supporting rustls everywhere. Still, I'm not entirely sure what part of these crates you are looking to use with rustls. Can you be more specific about what you're looking to do? (Also note that the current state of the main branch is significantly reorganized relative to the latest release.)

[2021-03-08 07:29] alechenthorne commented on #472
Specifically in the zipkin exporter using reqwest. I know I can implement the HttpClient trait listed here and pass a client supporting rustls, but it seems if there is feature support here for reqwest it makes sense to have rustls support too.

[2021-03-08 07:42] djc commented on #472
So far we've managed to avoid specifying any TLS dependencies -- so it's not like we favor native-tls or openssl instead. Can you be more concrete about what support should look like?

[2021-03-08 13:18] clux opened #473 "opentelemetry-otlp async pipeline stuck after FramedWrite"
The following minimal otlp example with latest `tracing`, `tracing-subscriber`, `tracing-opentelemetry`, `opentelemetry`, `opentelemetry-otlp` gets stuck inside tonic or h2 when pushing spans in an async context:

[code]

which prints the following and hangs:

[code]

deps:
[code]

Not sure what exactly is going on here, but have done the following debugging to pinpoint a few ways that work:

###

[2021-03-08 13:20] clux commented on #473
Btw have pushed my testing code for this issue to [clux/tracing-otlp-test](https://github.com/clux/tracing-otlp-test/blob/master/blah.rs).

It has a few extra things in there relating to fetching trace ids, but it's not relevant to the issue at hand (that's just to help me debug against tempo, outcome is the same).

[2021-03-08 16:18] clux commented on #473
Ok, more testing. This does not happen with grpc-sys:

[code]
works. It sends spans to tempo, they are visible there, and the app doesn't hang.
Only needed one extra modification in the passed endpoint url:
[code]

[2021-03-08 17:43] alechenthorne commented on #472
For the opentelemetry-zipkin crate this seems to instantiate a default reqwest instance which provides native-tls by default. I can't support linking to openssl for my project, either no tls or rustls is fine for me at this time.

For instance this example main.rs using tracing:
[code]
with my Cargo.toml depdencies
[code]

You end up with a cargo tree that contains the openssl-sys when using the `

[2021-03-08 22:33] #472 closed

[2021-03-09 02:56] TommyCpp commented on #473
Thanks for the detailed report and example! This example also seems to be working if the span is not reported via `tracing`. @jtescher any thoughts?

[2021-03-09 04:10] jtescher commented on #473
Hm I can't actually reproduce the behavior. Both the code in the description and cloning and running https://github.com/clux/tracing-otlp-test/blob/master/blah.rs seem to run and exit normally. @clux anything specific needed to show the hanging behavior?

[2021-03-09 04:13] TommyCpp commented on #473
@jtescher I was able to reproduce the issue after I spin up an otel-collector container and use the example to connect it

[2021-03-09 05:17] jtescher commented on #473
Oh I see the issue now (hadn't bound the ports properly when starting the otlp docker container was my issue).

So this looks like the issue is this configuration is actually trying to trace itself. The cycle is completed from top level `tracing` span -> otlp exporter -> tonic -> tonic dependencies starting `tracing` spans and so it recurses that way and hangs.

The internal tracing spans are at `

[2021-03-09 07:55] clux commented on #473
Ah, a tracing cycle. Interesting. The `EnvFilter` does indeed fix the minimal example, but it leaves my [more complex setup](https://github.com/clux/controller-rs/pull/10/files) broken.

(If you are interested in trying that, it requires k8s cluster to talk to + installing [a crd](https://github.com/clux/controller-rs/blob/master/yaml/foo-crd.yaml) before running)

I am thinking that this might be

[2021-03-09 09:38] clux opened #475 "opentelemetry-otlp how to name service: OTLPResourceNoAttributes"
Currently, all my traces show up as top level `OTLPResourceNoAttributes`:

![trace viewer screenshot](https://user-images.githubusercontent.com/134092/110450403-12591600-80bb-11eb-8f8b-447b0a44cd61.png)

Is there a way to inject the service name with `opentelemetry-otlp` like in [opentelemetry-jaeger](https://docs.rs/opentelemetry-jaeger/0.11.0/opentelemetry_jaeger/struct.PipelineBuilder.html#meth

[2021-03-10 00:11] clux commented on #473
Just a small update, but no success this time: I tried to make the bug repo re-trigger the bug with an updated EnvFilter, because it is still present on controller-rs. Tried a few things like including a hyper .get inside the traced async fn and spawning a long running task outside, but neither triggered the bug, so haven't pushed anything new there. Guess there's something funky going on with a c

[2021-03-10 03:24] TommyCpp commented on #475
There isn't a service name concept in OTEL. So the [convention](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk_exporters/jaeger.md#resource) here(and in opentelemetry-jaeger) is to use `service.name` resource to represent the service name

[2021-03-10 11:27] clux commented on #475
Hm, ok. I could open a bug against Tempo in that case.

Btw, in golang the way I see this is done is by naming the tracer:
https://github.com/joe-elliott/tempo-otel-example/blob/492add7ad56769c0b0bbc80499f42dcb8cde8131/main.go#L47-L50
which gets picked up by Tempo.

[2021-03-10 15:22] TommyCpp commented on #475
Actually, that is the instrument library name, which will appear as a tag `otlp.instrumentation.library.name` in Jaeger. The service name is setup here https://github.com/joe-elliott/tempo-otel-example/blob/492add7ad56769c0b0bbc80499f42dcb8cde8131/main.go#L115-L119. You should see the service name as `demo-service` instead of `demo-app`.

So I think Tempo does check the `service.name`. Mind share

[2021-03-10 18:03] clux commented on #475
Oh, yes, you are right, I do see `demo-service`.

The way I did it in rust was to set the fields with `#[insturment]`:

[code]

which shows up on the interface, but as a tag rather than the service name:
![Screenshot from 2021-03-10 18-01-09](https://user-images.githubusercontent.com/134092/110675384-b978a300-81ca-11eb-9fd2-a8af17f1a058.png)

[2021-03-10 22:08] clux commented on #475
Ahhh, it's a Resource. Thank you.

Added:

[code]

and it worked.

[2021-03-10 22:31] TommyCpp commented on #475
Good to know. Since this was defined in spec, we do have a const value for `service.name`. You can find it here https://github.com/open-telemetry/opentelemetry-rust/blob/e9595b67ba9ecf60abd92c44637baab146cbe870/opentelemetry-semantic-conventions/src/resource.rs#L27

[2021-03-11 23:55] TommyCpp opened #477 "Add OTLP span exporter using HTTP/Binary protocol"
As per [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/protocol/otlp.md#otlphttp). Add a OTLP exporter using http and binary.

Also may need to think about how do we build a builder pipeline to allow users to choose transportation protocol and request body format.

[2021-03-12 00:21] TommyCpp commented on #468
@jtescher @djc Do you guys think it's reasonable we change the BatchSpanProcessor to:
- Move the buffer into BatchSpanProcessor
- Only use the background task to export spans.
- Have an upper limit on the channel between BatchSpanProcessor and the background task. If there are too many spans, drop(or allow users to config the behavior, just in case someone want to block and wait)
- Send the spans

[2021-03-12 01:10] #475 closed

[2021-03-12 02:55] andoriyu opened #478 "env tag for DatadogExporter"
Unless I'm missing something there is no way to add `env` tag to spans that get sent to datadog? Without that tag all instances of a service would be grouped into a single service on DD side.

[2021-03-12 04:23] andoriyu commented on #478
Never mind, I figured it out. I could use https://docs.rs/opentelemetry/0.12.0/opentelemetry/sdk/trace/struct.Config.html#method.with_resource for such task.

[2021-03-12 04:23] #478 closed

[2021-03-16 12:06] djc commented on #468
It sounds like an improvement to me!

[2021-03-17 01:30] GSGerritsen opened #484 "Will the datadog exporter automatically correlate logs and traces?"
If I use the `opentelemetry-datadog` crate, would I need to manually inject `trace_id` and `span_id` into logs somehow (such as in [this guide](https://docs.datadoghq.com/tracing/connect_logs_and_traces/opentelemetry)) or would this happen automatically?

I'm currently attempting to do this (using the `tracing` crate) like this:
[code]
But the logs aren't being extracted from the traces in the APM

[2021-03-17 23:12] TommyCpp commented on #484
There is currently no correlation between logs and traces, so you will have to do it manually. As for the crate itself, we are just finishing up few PRs before we push the next release. So it should be out soon

[2021-03-17 23:52] #484 closed

[2021-03-18 02:12] quanweiZhou opened #486 "opentelemetry_otlp not support uds endpoint"
use unix domain socket address get err : ExportFailed(InvalidUri(InvalidUri(InvalidFormat)))

[2021-03-18 23:05] TommyCpp commented on #486
We don't currently support building the otlp exporter using tonic with UDS. Although UDS is supported by tonic, it requires a different configuration from other addresses. But it would be nice to have that feature, will mark this as a positional improvement.

[2021-03-25 14:55] little-dude opened #492 "Cannot make datadog + `tracing-opentelemetry` work"
Hello, and thank you for these libraries :)

I have a program that uses `tracing`, and I need to integrate with datadog. I think it should be possible to use `tracing-opentelemetry` along with the `opentelemetry_contrib::trace::exporter::datadog` exporter but:

- I don't see any trace in datadog
- I have a crash

A small reproducible example can be found at https://github.com/little-dude/testdatad

[2021-03-26 04:54] TommyCpp commented on #492
Don't have much time today to dig into the details. But could you try returning the `uninstall` from the `create_datadog_tracing_subscriber` into the main function and see if that solves the problem?

[2021-03-26 06:47] little-dude commented on #492
Hey @TommyCpp !

Thank you, your suggestion prevents the crash. However it seems that the traces are still not sent to datadog. I don't see anything in the agent APM log file:

[code]

[2021-03-27 20:42] clux opened #496 "no docs.rs build for opentelemetry-otlp 0.6.0"
See https://docs.rs/crate/opentelemetry-otlp/0.6.0

[2021-03-27 21:28] clux commented on #473
Ok, I have finally managed to make it work with `tonic` now.

Still not sure why it's hanging in my more advanced app, but have at least found out that it's related to the __simple exporter__, which I probably shouldn't use anyway, and am able to work around it, without switching out tonic.

When I enabled "tokio-support" feature on `opentelemetry` (0.12), it stopped hanging with tonic. From [what

[2021-03-29 03:30] TommyCpp commented on #492
I don't have a datadog key to test it but I think you need to create a span first. You can do it by
[code]
The `error!`, `warn!` marcos don't really create spans for you AFAIK.

[2021-03-29 04:35] TommyCpp commented on #496
This is mostly because the grpcio builds the proto files into `src`. Probably should move it into `$OUT_DIR`

[2021-03-29 09:31] little-dude commented on #492
Thank a lot @TommyCpp, I'm now seeing a span, with this code:

[code]

There are two remaining issues:

1. The span appears as an _error_ span (see this screenshot: ![Screenshot 2021-03-29 at 11 22 30](https://user-images.githubusercontent.com/6646324/112815921-1ad0bb00-9081-11eb-803c-917a49491946.png))
2. Although I enabled log collection in the datadog agent, the logs don't appear in datadog. I

[2021-03-29 10:21] LukeMathWalker opened #498 "Usage of `block_on`"
I noticed that `SimpleSpanProcessor` uses `futures::executor::block` to export a span every time it closes.
This can be troublesome when running on single-threaded executors (e.g. in tests), leading to a blocking of the executor thread itself. I have been experiencing several test hangs when using `SimpleSpanProcessor` that immediately vanish when using the batch exporter and `global::shutdown`.

[2021-03-29 10:51] LukeMathWalker opened #499 "Flushing spans without shutting down the instrumentation"
Is there a way to trigger flushing of all in-flight spans without shutting down the instrumentation?
E.g. a flushing equivalent of [`global::shutdown_tracer_provider`](https://docs.rs/opentelemetry/0.13.0/opentelemetry/global/fn.shutdown_tracer_provider.html)?

[2021-03-29 11:10] djc commented on #498
Maybe review the interactions with #494 here?

[2021-03-29 11:37] LukeMathWalker commented on #498
I looked at #494, but I think the two issues are orthogonal - am I missing something here?

[2021-03-29 13:11] TommyCpp commented on #498
#Yes #494 aims to address the span drops problem when the volume of spans is too high. It doesn't really change anything in simple span processor

[2021-03-29 15:24] AlexKovalevych opened #500 "jaeger exporter max batch size issue"
whatever value i set as max packet size, it constantly gives me the same error. Tried with default (65000), small (10000), big values (100000), same result, e.g.:

[code]

Building pipeline this way:

[code]

[2021-03-29 16:58] jtescher commented on #492
If you log at error level in `tracing` it will mark the span an error span via `tracing-opentelemetry`. Should fix the first issue for you. I don't believe that logging is integrated in `opentelemetry-datadog` yet, could open a separate issue for that one

[2021-03-29 17:01] jtescher commented on #499
Yeah the tracer provider API needs to expose a method to access [`SpanProcessor::force_flush`](https://docs.rs/opentelemetry/0.13.0/opentelemetry/sdk/trace/trait.SpanProcessor.html#tymethod.force_flush).

[2021-03-29 18:19] jtescher commented on #498
https://github.com/open-telemetry/opentelemetry-rust/pull/502 may resolve some of the issues around blocking here.

[2021-03-29 18:25] jtescher commented on #500
You can set a smaller batch size by setting the `OTEL_BSP_MAX_EXPORT_BATCH_SIZE` env var to a lower number (default is 512 spans). Depending on how much data you are recording per span, you can tune this batch size to be lower than your 10k max bytes.

[2021-03-29 23:37] TommyCpp commented on #499
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#forceflush
Could just invoke the `forcepush` method of global tracer provider

[2021-03-30 15:40] AlexKovalevych commented on #500
Got it, thank you

[2021-03-30 15:40] #500 closed

[2021-04-03 16:49] #496 closed

[2021-04-03 16:53] danrusei commented on #477
If no one is working on this, I could give it a try.

[2021-04-06 04:54] #499 closed

[2021-04-06 08:49] fasterthanlime opened #513 "Datadog crates enables reqwest's default features..."
...which forces a dependency on OpenSSL.

I feel like this line:

https://github.com/open-telemetry/opentelemetry-rust/blob/4d58d4b7d9c5377012f6dfb6e675b87625a04762/opentelemetry-datadog/Cargo.toml#L32

should include `default-features = false`, so that downstream crates can specify what reqwest features they'd like.

[2021-04-06 09:19] djc commented on #513
Yup, that would make sense. Would you mind submitting a PR?

[2021-04-06 15:10] #513 closed

[2021-04-06 23:25] #492 closed

[2021-04-07 10:37] LukeMathWalker commented on #330
Related to @TommyCpp - have you considered splitting out the `sdk` module in its own crate?
It would be ideal to be able to isolate the instrumentation side (e.g. most of the traits) in a module moving faster towards 1.0 while keep iterating on the `sdk` side.

[2021-04-08 03:59] TommyCpp commented on #330
That could work, but we need to first make sure the `api` doesn't use anything from SDK part otherwise there will be a circular dependency. Another problem is I believe there is a crate called `opentelemetry-sdk` already :disappointed:

On the other hand, we can still declare API stable while working on the SDK if I understand the VERSIONING.md correctly.

[2021-04-08 08:26] LukeMathWalker commented on #330
If they are all part of the same crate and you break the public API of the `sdk` sub-module you are forced to publish a new major (if you are past 1.0).
If you have two incompatible versions of `opentelemetry` around (e.g. `1.0` and `2.0`) stuff like https://github.com/open-telemetry/opentelemetry-rust/blob/76b6ec9b7c5aba17a52b0e529d7026222a4e389a/opentelemetry/src/global/trace.rs#L237 stops worki

[2021-04-09 03:17] TommyCpp commented on #330
Yeah, you have a good point. I think we should review our status on backward compatibility and how far we are towards tracing GA. If we decided we still need a while to stable the SDK public API after we stabilized tracing API, maybe it's a good idea to separate the SDK from API. @jtescher / @djc / @frigus02 any thoughts?

[2021-04-09 03:22] jtescher commented on #330
A lot of these are now done, could make sense to do another pass to see what changes are needed before GA, if the majority of the changes are in the SDK only then we may make life easier for some folks by separating them.

[2021-04-11 23:08] #486 closed

[2021-04-14 02:54] jtescher commented on #498
@LukeMathWalker `SpanProcessor::on_end` now is a channel send in both span processors.

[2021-04-14 02:54] #498 closed

[2021-04-14 03:03] jtescher opened #520 "Batch span processor on_end mutex"
It would be nice to remove the mutex around the batch span processor channel to avoid locking when exporting spans. https://github.com/open-telemetry/opentelemetry-rust/blob/607b32a417e9d6e3cc1353135649d95ba2377e6c/opentelemetry/src/sdk/trace/span_processor.rs#L232-L240

[2021-04-14 16:57] #468 closed

[2021-04-15 10:34] nikclayton-dfinity opened #523 "Support injecting a context in to a response"
The latest W3C draft supports injecting the trace context in to an HTTP response.

https://w3c.github.io/trace-context/#trace-context-http-response-headers-format

This is the same format as the request context, except:

1. There's no `tracestate` header.
2. The header with the context is called `traceresponse`

Suggest:

1. Adding an `inject_response_context` method to `TextMapPropagator` that im

[2021-04-15 21:47] jtescher commented on #523
I like the idea of more fully supporting the trace-context spec, the interaction for the text map propagator is fairly explicit in [the propagators spec](https://github.com/open-telemetry/opentelemetry-specification/blob/3f07b6669dbbf4625579b5a0f371768f50788cd2/specification/context/api-propagators.md#textmap-propagator) which is a little unfortunate, perhaps we could add an option behind a flag,

[2021-04-17 18:14] nikclayton-dfinity commented on #523
Having read that doc, I think this could be done in a way that doesn't violate the stability guarantees (as defined in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/versioning-and-stability.md#stable), in particular, in a way that doesn't violate backwards compatibility.

My detailed argument runs goes like this (and, acknowledging that `traceresponse` is st

[2021-04-17 23:15] TommyCpp commented on #523
Thanks for the detailed analysis. Personally, I feel most comfortable adding another `ResponseTextMapPropagator` to handle the response ingestion. Mostly because I think usually we inject at the request side to make sure the tracing context can be used on HTTP server-side.

Another method could be allowing the user to configure how `TraceContextPropagator` inject. So basically have a bool configur

[2021-04-20 18:38] danrusei opened #527 "Update the community-members.md from the community repository"
Many of the newcomers and possible contributors to Opentelemetry are often looking first into the community repository to get a sense about the structure of the project and the "vibe" of the community.
Looking at this document [community-members.md](https://github.com/open-telemetry/community/blob/main/community-members.md) I though that it will be good to add Rust repository to the list and remov

[2021-04-20 18:54] #477 closed

[2021-04-20 18:55] jtescher opened #528 "Add support for OTEL_EXPORTER_JAEGER_TIMEOUT"
See the spec change for more details https://github.com/open-telemetry/opentelemetry-specification/pull/1612

[2021-04-21 00:08] drexler commented on #528
@jtescher mind assigning this to me? Thanks.

[2021-04-22 01:42] TommyCpp commented on #520
Maybe we could just clone the `sender`?. Internally it's just `Arc`s so the clone operation should be light.
The only concern one might have is too many senders could cause OOM as the capacity of the bound channel is `capacity + num of sender`. But then `try_send` is non-blocking and all the cloned sender should be dropped when the function returns.

[2021-04-22 04:16] jtescher commented on #520
@TommyCpp could try, may be useful to look at the benchmarks and try a few approaches. I think cloning was slower last time I tried for some reason.

[2021-04-22 11:40] barkanido opened #531 "guidance on creating a datadog exporter"
Hello,

I am looking for docs/examples regarding creating a datadog exporter to export simple metrics (no traces) to be available to the datadog agent. I have only found tracing examples in the `opentelemetry-datadog` lib.

How can one build and configure an exporter? is it maybe not a part of `opentelemetry-datadog`? For example, a workaround would be to create a Prometheus exported and to config

[2021-04-22 11:55] barkanido opened #532 "opentelemetry-otlp 0.6.0 docs fails to build"
[docs.rs link](https://docs.rs/crate/opentelemetry-otlp/0.6.0)

[2021-04-22 12:32] barkanido commented on #531
okay after some further digging it looks like datadog [actually recommends](https://docs.datadoghq.com/tracing/setup_overview/open_standards/#opentelemetry-collector-datadog-exporter) using the opentelemety native collector and configure it to report to datadog instead of running the datadog agent.

This implies the usage of [opentelemetry-otlp](https://crates.io/crates/opentelemetry-otlp) exporte

[2021-04-23 02:12] TommyCpp commented on #520
I built a [benchmark](https://github.com/TommyCpp/opentelemetry-rust/blob/tommycpp/issue-520/opentelemetry/benches/batch_span_processor.rs) with tokio runtime. The preliminary result on removing mutex seems to be promising.
[code]

[2021-04-28 16:55] jtescher opened #534 "Add support for OTEL_EXPORTER_ZIPKIN_TIMEOUT"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1636

[2021-04-30 16:49] Sushisource opened #536 "`opentelemetry::global::shutdown_tracer_provider()` Hangs indefinitely, and other troubles"
Hello,

Been trying to get tracing exporting going to either Jaeger or Zipkin, and with both I'm running into issues actually getting much exported.

Following the readme for either, they mention to call `global::shut_down_provider(); // sending remaining spans` on exit (which, the Readmes seem to be outdated). Calling what looks like the current equivalent (in the title) just locks up entirely. I

[2021-05-02 00:30] TommyCpp commented on #536
Thanks for the feedback. We try to adapt the builder pattern for every configuration we encounter. But there are many configurations so it can be confusing.

To your questions. I think what you are looking for is [`with_max_packet_size`](https://docs.rs/opentelemetry-jaeger/0.12.1/opentelemetry_jaeger/struct.PipelineBuilder.html#method.with_max_packet_size). I think in the future we could introduc

[2021-05-04 04:15] drexler commented on #528
@jtescher  finally got round to this. Quick question, with [`surf` lacking support for timeouts](https://github.com/http-rs/surf/issues/274), would using `isahc` as a backing client for surf be an ok approach with this? Most likely, this will need a documentation update to accompany that to let users know it's not a pure `surf` http client under the hood when opting for that as their http client.

[2021-05-04 16:45] Sushisource commented on #536
Thanks @TommyCpp  -- So setting `with_max_packet_size` just lets me hit that error with smaller values, but it doesn't seem to fix the problem of actually allowing me to tell the batch exporter to send smaller batches.

For the hang, I'm using tokio with the multiple thread scheduler. I tried zipkin with and without `reqwest-client` and both hung, and jaeger hung with `tokio` set or not.

[2021-05-04 16:52] jtescher commented on #528
@drexler could you [`select`](https://docs.rs/futures/0.3.14/futures/future/fn.select.html) between the surf request and an [`async_std::future::timeout`](https://docs.rs/async-std/1.9.0/async_std/future/fn.timeout.html)? Surf support exists mainly to facilitate the async-std ecosystem currently I believe.

[2021-05-04 17:07] jtescher commented on #536
@Sushisource you can also use the `OTEL_BSP_MAX_EXPORT_BATCH_SIZE` env var to export in smaller batches https://github.com/open-telemetry/opentelemetry-specification/blob/5a19b53d71e967659517c02a69b801381d29bf1e/specification/sdk-environment-variables.md#batch-span-processor

[2021-05-07 06:55] joshtriplett opened #540 "Importing SpanData into opentelemetry-otlp?"
For the purposes of batch processing, would it be possible to import a `Vec<SpanData>` into opentelemetry to be sent out via opentelemetry-otlp or the stdout pipeline? Concretely, I'd love to have a method that accepts a `Vec<SpanData>` and sends it through the same pipeline as those collected and fed in via tracing-opentelemetry.

[2021-05-07 09:15] simon-an commented on #536
Same issue here.

In my case it is a combination of

[code]

[2021-05-07 14:08] TommyCpp commented on #536
Could you provide an example if it's possible. I ran some examples and it seems to be working. Wondering if I missed something here. Thanks in advance.

[2021-05-07 14:41] tustvold opened #541 "UniqueInstrumentMeterCore silently drops observers with the same name and type"
The implementation of `UniqueInstrumentMeterCore::new_async_instrument` and `UniqueInstrumentMeterCore::new_sync_instrument` returns the existing instrument if one exists.

This causes issues for value observers where the instruments are not interchangeable as they have different callbacks. I'm not sure what the correct behaviour here is, the [go implementation](https://github.com/open-telemetry/o

[2021-05-07 18:53] jtescher commented on #541
Yeah this is a rougher area still, was discussed in https://github.com/open-telemetry/opentelemetry-specification/issues/1046 with less clear resolution as I recall. Could be worth considering alternatives here.

[2021-05-08 03:35] joshtriplett opened #542 "Closing and exporting all spans on panic (when panic=abort)?"
I'm using tracing-opentelemetry. From what I understand, spans rely on Drop implementations to close, and until the span is closed it won't be shipped off. I'm currently using panic=abort for various reasons. I'd love to have a global method that I can call from a panic handler that will close and export all spans before exiting, to make sure enough tracing information has been sent out to debug t

[2021-05-08 10:50] tustvold commented on #541
Thank you for that context, very helpful :+1:

From my perspective, the issue at the moment is that there is no way to detect a collision, and even if you could the returned ValueObserver provides no ability to do anything about it. Perhaps if the API only took a descriptor and then returned a ValueObserver that you could then register one or more callbacks with? I don't know, I'm not sure I compl

[2021-05-08 21:18] joshtriplett opened #544 "otlp surf support enables default curl client"
I'd like to use surf with `h1-client-rustls`, rather than the default `curl-client`. Would it be possible for otlp's surf support to use `default-features = false` and support whatever the default surf client is?

[2021-05-09 03:20] TommyCpp commented on #542
This could be challenging. The `Span` holds a weak reference to `TracerProvider` via `Tracer`. But not the other way around. So it's gonna be hard to try to find all spans and export them.

But other than the spans that in flight. You also need to try to export the ended spans cached in `BatchSpanProcessor`. So it maybe makes sense to try to `force_flush` `TracerProvider` in the panic handler.

[2021-05-09 03:24] TommyCpp commented on #544
You could implement [`HttpClient`](https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry-http/src/lib.rs#L48-L56). Then you can build your own HTTP client and set it via [`HttpConfig`](https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry-otlp/src/span.rs#L204-L210) to OTLP pipeline.

[2021-05-09 16:49] joshtriplett commented on #544
I realize that, but it would be nice to use the existing built-in support and just disable the specific feature forcing the use of curl-client.

[2021-05-09 18:04] jtescher opened #545 "Allow option to split oversiezd jaeger UDP batches"
Currently the Jaeger exporter will simply error if the batch size is too large. It would be better to have an option to split and export multiple sub-batches instead.

[2021-05-09 19:22] jtescher commented on #544
@joshtriplett is #546 what you had in mind?

[2021-05-09 21:16] #544 closed

[2021-05-11 14:58] kjvalencik opened #549 "eprintln is used for logging"
Currently, non-fatal errors (for example, exporting traces) use `eprintln` for logging.

https://github.com/open-telemetry/opentelemetry-rust/blob/1cdf725c0734d0a16c29a6f693ef6fe795000bbe/opentelemetry/src/global/error_handler.rs#L50

This is very noisy, especially in cases such as development where it is an expected error.

[code]

Ideally `opentelemetry` would use the [`log`](https://crates.io/c

[2021-05-11 22:53] Sushisource commented on #536
@TommyCpp This repros it consistently for me:  https://gist.github.com/Sushisource/0c04fcc0fecef386a46cd6dd25c7a296

[2021-05-12 00:50] jtescher commented on #549
We're holding off on supporting log/tracing directly for logging purposes while the otel log spec is being worked on (and as you mentioned you can easily override the current behavior via [opentelemetry::global::set_error_handler](https://docs.rs/opentelemetry/0.14.0/opentelemetry/global/fn.set_error_handler.html) to support either logging facade yourself), so closing this for now, but we can re-o

[2021-05-12 14:47] kjvalencik commented on #549
Thanks for the update @jtescher. That makes sense.

The error enum isn't exported so you can't do much with it expect display/format it. Is that intentional?

https://github.com/open-telemetry/opentelemetry-rust/blob/133ab27744776134eeee798a442f23a291571f6e/opentelemetry/src/global/error_handler.rs#L14-L28

Take this with a grain of salt since it wasn't too hard to find, but the docs don't mention

[2021-05-13 00:42] TommyCpp commented on #536
@simon-an May be try `runtime::TokioCurrentThread`?. I think the `actix_web` uses tokio current thread runtime by default.

[2021-05-13 09:53] siyopao commented on #478
Hi! Sorry, I am running in to the same problem and I am trying `with_resource` but it doesn't seem to work. What I have is
[code]
but the traces are still ending up in `env:none`. Is this the approach you used?

Thanks!

[2021-05-13 12:20] tustvold opened #550 "Self-recursive debug implementations"
I'm not sure how widespread this is, but if you try to debug print a prometheus sync instrument it leads to a stack overflow. Or if you debug print with `{:#?}` it effectively deadlocks trying to print an infinite string, I suspect you would get a stack overflow eventually if you left it for long enough.

The code snippet below demonstrates this problem, it overflows the stack

[code]

[2021-05-14 04:51] TommyCpp commented on #550
Looks like the reason is [`Instrument`](https://github.com/open-telemetry/opentelemetry-rust/blob/88e779d53e43d161bb0703808d47728f2fb54a14/opentelemetry/src/sdk/metrics/mod.rs#L516-L520) refers to [`Accumulator`](https://github.com/open-telemetry/opentelemetry-rust/blob/88e779d53e43d161bb0703808d47728f2fb54a14/opentelemetry/src/sdk/metrics/mod.rs#L73-L73), which contains references to [`AsyncInstr

[2021-05-14 16:25] Sushisource commented on #536
@TommyCpp Ah, sure this makes sense and fixes it. It would be really great if the examples (READMEs like the one [here](https://github.com/open-telemetry/opentelemetry-rust/tree/main/opentelemetry-jaeger))  mentioned that using a multithreaded runtime, or setting the current thread batch executor is necessary to avoid blocking - I think probably a lot of people are going to try using the library v

[2021-05-17 16:11] simon-an commented on #536
@TommyCpp  Don't I have the multithreaded runtime, when i have a toml like this?

[code]
You are right. It works when i use

`
opentelemetry::runtime::TokioCurrentThread
`

instead of

`
opentelemetry::runtime::Tokio
`

[example project](
https://github.com/simon-an/rust-opentelemetry-examples)

[2021-05-18 01:26] TommyCpp commented on #536
I believe the `actix_web` is actually [running on a tokio current thread scheduler by default](https://actix.rs/actix-web/actix_web/rt/struct.Runtime.html).

[2021-05-18 09:02] simon-an commented on #536
@TommyCpp i found a solution and updated the example project.

[code]

Thanks for pointing out, that there might be a current thread scheduler in a multithreaded runtime. That was not that clear to me.

[2021-05-18 14:42] #536 closed

[2021-05-19 15:50] TommyCpp commented on #550
close via #552

[2021-05-19 15:50] #550 closed

[2021-05-20 00:11] xukaren opened #553 "Add Badge for Code Coverage"
**Is your feature request related to a problem?**
Most of the existing OpenTelemetry repositories display a badge for code coverage. In an effort to have the Rust SDK repository to be up to date and consistent with the other established SDKs and repositories, there should be a code coverage badge in the main README.md file.

**Describe the solution you'd like.**
As a developer contributing to Open

[2021-05-20 09:01] joshtriplett opened #554 "opentelemetry-otlp: Please upgrade grpcio-sys to 0.8.1 for compilation issue with openssl-vendored"
Attempting to build opentelemetry-otlp with features `"grpc-sys"` and `"openssl-vendored"` set produces a compilation error:

<details>

[code]

</details>

grpcio-sys 0.8.1 upgrades to a version of the grpc library that should fix this problem. Would you consider updating opentelemetry-otlp to use grpcio-sys 0.8.1?

[2021-05-20 21:18] jtescher opened #555 "Add support for schema URL"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1666

[2021-05-20 23:38] TommyCpp commented on #555
We might want to discuss if it's possible to add a new configuration into tracer API without changing the public API. This feature was added after tracing spec stabled. So I imagine they could add more configuration into it.

[2021-05-21 21:30] #553 closed

[2021-05-21 21:30] #554 closed

[2021-05-21 22:29] xyira opened #557 "Need for a Viable Security Scanning Tool"
A security workflow does not currently exist as part of the CI/CD or security workflows in the Rust repository. This is necessary to satisfy the security requirements of https://github.com/open-telemetry/opentelemetry-specification/issues/1333.

CodeQL is the common security scanning tool that is used currently for all of the supported OpenTelemetry language repositories (Go, Java, Javascript, Pyt

[2021-05-22 06:22] djc commented on #557
I like to use cargo-deny, which will check for vulnerable dependencies but can also help checking for inappropriate licenses and duplicate dependency versions.

[2021-05-24 16:31] jtescher opened #558 "Expand support for OTEL_SERVICE_NAME"
We currently support this only in the jaeger exporter. See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1677

[2021-05-25 01:46] joshtriplett opened #559 "Please document effect of `trace_flags` in `SpanContext` (must set sampled to process trace)"
I was trying to do some distributed tracing using `SpanContext`. The `trace_flags` field is just documented as:

This is slightly inaccurate; there are several constants defined at https://docs.rs/opentelemetry/0.14.0/opentelemetry/trace/index.html#constants . It'd be helpful to have a link to those constants.

But also, this documentation does not explain the net effect of the flags. I spent quit

[2021-05-27 22:03] dgetu commented on #555
Could I take this issue?

[2021-05-27 22:48] dgetu commented on #555
I'm not exactly sure where to start with that. I've only just started getting involved with the project.

[2021-05-27 23:02] TommyCpp commented on #555
I guess the idea is to design the API so that we can add other configurations in the future without breaking the existing code. Other languages support it with optional parameters. Need to figure out what's the best choice in Rust.

[2021-05-27 23:21] dgetu commented on #555
I don't think I have enough experience with either the language or the codebase to provide anything meaningful to that discussion. I'd still like to contribute however I can.

[2021-05-28 19:06] dgetu commented on #555
I took another look at spec 1666, and I think I'm starting to see the problem. The only way I can think of to implement this without it being a breaking change is to implement new function headers. Either a replacement for an overload a la Java or a setter for a builder pattern. Is that the kind of change to the tracer API you wanted to see made to the spec? I guess I'm not sure what the differenc

[2021-05-28 20:37] TommyCpp commented on #555
We haven't declared GA yet so it's fine to make breaking change as for now. I want to explore if we can rebuild the Rust tracer API so that in the future we can add more options to it if needed. The current implementation doesn't support that because if we add another parameter to the function, it will break existing code.

I feel like we can do it either by having a builder for the tracer or havi

[2021-06-01 17:30] dgetu commented on #555
I think that having a config struct would be more clear than a builder. I can try both and see which one is more suitable.

[2021-06-02 00:11] dgetu commented on #555
I'm in the process of migrating to a single config struct parameter for `TracerProvider::get_tracer`, but I'm not sure how to go about building it. My current approach is to have the user update their own config struct using Default, but this poses a problem. When every field in the struct is populated, attempting to update it results in a [linter warning](https://rust-lang.github.io/rust-clippy/m

[2021-06-02 01:34] TommyCpp commented on #555
@dgetu As we are considering the possibility to add more fields into the `Config`. It may be reasonable to mark it with [#non_exhaustive](https://doc.rust-lang.org/reference/attributes/type_system.html#the-non_exhaustive-attribute) attribute. We should probably provide `with_<attribute>` method on `TracerConfig` so that users can change the configuration as they need. Similar to what we did on [tr

[2021-06-04 02:18] TommyCpp commented on #559
We probably want to remove those constants as the only valid flag in `trace_flag` is sampled according to the spec.

Other flags(debug and deferred) are there to propagate Jaeger and B3 tracing headers, which probably shouldn't propagate via `trace_flags`. Those flags should also live in Jaeger and B3 propagators rather than the main crate. cc @jtescher

[2021-06-05 16:15] #520 closed

[2021-06-07 09:09] AtkinsChang opened #566 "Can't not add a new key/value pair to `TraceState`"
According to [specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#tracestate):
- Add a new key/value pair

But the insert function of `TraceState::insert` can't not add new pair.

The error occurred at
https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry/src/trace/span_context.rs#L236

[2021-06-07 18:25] #559 closed

[2021-06-09 00:03] #566 closed

[2021-06-09 00:05] jtescher commented on #532
Fixed as of 0.7.0 https://docs.rs/crate/opentelemetry-otlp/0.7.0

[2021-06-09 00:05] #532 closed

[2021-06-09 01:19] jtescher opened #569 "Restrict order of span status updates"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1685

[2021-06-12 01:04] TommyCpp commented on #555
May also need to add schema URL support for Resouce. See https://github.com/open-telemetry/opentelemetry-specification/pull/1692

[2021-06-17 04:26] quanweiZhou commented on #486
@TommyCpp version = "0.14.0"
opentelemetry_otlp::new_pipeline has already support UDS
but opentelemetry_otlp::new_metrics_pipeline not support UDS

[2021-06-18 04:37] TommyCpp commented on #486
@quanweiZhou Yeah I delayed the implementation mostly because we need some work on the metrics provider builder to make it consistent with the tracer provider builder. But we can add it if needed.

[2021-06-19 06:28] quanweiZhou opened #575 "metrics not support UDS"
version = "0.14.0"
opentelemetry_otlp::new_pipeline has already support UDS
but opentelemetry_otlp::new_metrics_pipeline not support UDS

[2021-06-19 20:45] jtescher opened #576 "Serde support"
Should the core `opentelemetry` crate support serde? There are standard serialization formats, it's unclear that this is necessary (or compliant with the intention of the spec).

[2021-06-19 22:26] #558 closed

[2021-06-20 04:10] TommyCpp commented on #576
I don't believe the spec explicitly requires to provide a serialization formats but rather it leave this questions to each propagator and exporter. I think in some case the serde could make things easier for exporter/propagator writers but usually exporters/propagators need some kind of conversion before serialization. Thus, serde is not a must here.

[2021-06-20 08:55] frigus02 commented on #576
Good question. I'd say we probably don't need it. How does serde support work with backwards compatibility? If we add another field to a struct, which implements `Serialize` and `Deserialize`, would that count as a breaking change?

I like the idea of a separate crate in case there is demand for serialization and deserialization for some of the types.

[2021-06-26 01:45] jtescher opened #588 "Move `force_flush` from tracer provider API to SDK"
The `TracerProvider::force_flush` method is part of the [sdk spec](https://github.com/open-telemetry/opentelemetry-specification/blob/7fc28733eb3791ebcc98fed0d858a7961f1e95b2/specification/trace/sdk.md#forceflush) but not the [api spec](https://github.com/open-telemetry/opentelemetry-specification/blob/7fc28733eb3791ebcc98fed0d858a7961f1e95b2/specification/trace/api.md#tracerprovider-operations).

[2021-06-26 04:28] #575 closed

[2021-07-01 01:18] TommyCpp commented on #555
Have thought about this a little bit. I wonder if we could provide a config struct and a macro to have better ergonomics.
Could have something like
[code]
equal to
[code]
I think macro could support the different number of parameters.

[2021-07-01 21:55] dgetu commented on #555
Thanks for the suggestion! I think a macro would be nice to have. I'll see what I can do.

[2021-07-02 02:03] jtescher commented on #555
Would a second method be sufficient here? wondering if adding something like `TracerProvider::tracer_with_schema` that takes a name, optional version, and schema would be the simplest.

[2021-07-02 02:07] jtescher commented on #555
Could be good to experiment with macros as well as the spec-defined API is not the most ergonomic, but might be easiest to experiment with alternate APIs in a new package if we want to get a v1 of tracing out in the near future

[2021-07-02 02:09] TommyCpp commented on #555
It's kind of wired that `trace_with_version` doesn't include schema parameter but `tracer_with_schema` takes a version parameter. They are both optional parameters as per spec.

I guess the real problem here what should we do if the spec added a new parameter for tracer or other API after we reaches v1.

[2021-07-02 02:10] jtescher opened #591 "Rename metrics labels to attributes"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1775

[2021-07-02 02:21] jtescher commented on #555
@TommyCpp yeah with 3 parameters 2 of which are optional the API becomes a little messy. Another option would be to have a "simple" version like `TracerProvider::tracer` that just takes a `name`, and then something like a `TracerProvider::tracer_builder` method for more complex tracers similar to the `Tracer::start` vs `Tracer::span_builder` split.

[2021-07-05 02:25] #569 closed

[2021-07-10 13:39] evergreen-trading-systems opened #594 "Are the examples up-to-date? basic-otlp-http example not working"
I was following the example here https://github.com/open-telemetry/opentelemetry-rust/blob/main/examples/basic-otlp-http/src/main.rs, but my program doesn't compile.

`tracing` here https://github.com/open-telemetry/opentelemetry-rust/blob/main/examples/basic-otlp-http/src/main.rs#L13 appears nowhere to be found in the docs https://docs.rs/opentelemetry-otlp/0.8.0/src/opentelemetry_otlp/lib.rs.htm

[2021-07-10 21:58] evergreen-trading-systems commented on #594
No, it hasn't been updated as shown https://docs.rs/opentelemetry-otlp/0.8.0/src/opentelemetry_otlp/lib.rs.html#175 but in GitHub https://github.com/open-telemetry/opentelemetry-rust/blob/main/opentelemetry-otlp/src/lib.rs#L175

[2021-07-10 22:32] evergreen-trading-systems commented on #594
I was exploring opentelemtry-rust as a tracing solution for my Rust software but I don't think it's production-ready, not like [Vector](https://github.com/timberio/vector/issues/790).

Now I'm exploring just tracing, exporting to file and ingest through Vector or directly to Jaeger in case anybody is doing something similar.

[2021-07-11 16:14] TommyCpp commented on #594
Yes, we are still working towards GA on the tracing part now, the opentelemetry-collector is also in pre 1.0 status. The examples in the main branch use the main branch's code rather than the latest released code. There was a change introduced to allow the OTLP pipeline to send metrics and tracing info to the collector. https://github.com/open-telemetry/opentelemetry-rust/pull/585.

Examples that

[2021-07-11 16:15] #594 closed

[2021-07-13 09:07] flavio opened #596 "Security issue: upgrade prost depedency to 0.8.0"
I run `cargo audit` against a project of mine, Adding the `opentelemetry-otlp` dependency lead to this discovery:

[code]

I've tried to contribute a fix for that by forking this repo and updating the prost dependency. Unfortunately prost 0.8 requires tonic 0.5, which introduces some breaking changes inside of the automatically generated code.

The breaking change happens inside of the automatical

[2021-07-13 14:41] TommyCpp commented on #596
Thanks! I wonder how much overhead the interceptor will bring. If it's not that much, we can probably just create a "pass through" interceptor where the request will be returned without any changes.

[2021-07-13 14:57] flavio commented on #596
Just as reference, this is the change I did:

[code]

[2021-07-14 14:20] #596 closed

[2021-07-16 20:26] LehMaxence opened #598 "opentelemetry-jaeger: tokio and async-std features are mutually exclusive"
The implementation of `AgentAsyncClientUdp` depends on the features enabled/disabled.

If both tokio and async-std features are enabled then the tokio implementation is used.

This is problematic when having a workspace with one application A running on the tokio runtime and another application B running on the async-std runtime and both dependent to opentelemetry-jaeger.
Application B will panic

[2021-07-25 01:50] #531 closed

[2021-07-25 02:19] TommyCpp opened #602 "Allow span processor to keep reference of spans"
The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/sdk.md#onstart) noted that we should allow span processor to keep a reference to the span passed as the parameter of `on_start` method

[2021-07-27 00:54] TommyCpp commented on #557
Should we also consider adding a license check? I ran a quick check with `cargo deny`. The only crate that seems to be a problem is `ring`. It contains a custom LICENSE file. The template in `cargo deny` describes `ring`'s LICENSE as `MIT AND ISC AND OpenSSL`. I suppose this is compatible with our repo's license?

[2021-07-28 04:20] LanceEa commented on #242
@jtescher - If no one has grabbed this one yet, then I wouldn't mind helping out.

Based on a review of the link you posted it seems the Prometheus Exporter currently only has the host and port being defined. I see under the general section the `OTEL_RESOURCE_ATTRIBUTES` is stable. Should we also consider adopting that as well as part of this issue?

https://github.com/open-telemetry/opentelemetry

[2021-07-28 19:03] TommyCpp commented on #242
I think it's nice to also support `OTEL_RESOURCE_ATTRIBUTES` env var.

[2021-07-28 19:50] LanceEa commented on #242
Ok sounds good. I will add that to the PR.

The contributing guide for this exporter doesn't mention anything about updating the changelog. Should I do that as part of this PR and if so would this be a bump to `v0.9.0` or just a patch `v0.8.1`?

[2021-07-29 01:23] #598 closed

[2021-07-29 01:29] TommyCpp commented on #242
We usually update the changelog when we cut a new release. There is no requirement for contributors to include a change log entry. But it is definitely welcome to add one as it helps when we cut the release.

[2021-07-29 19:25] TommyCpp commented on #602
Like `Cow`, what if we have a enum of Span where it can contains a mutex if one of the span processor decided to keep a reference but if no span processor hold the reference, we can just have a span without mutex?

[2021-07-31 18:05] jtescher opened #606 "Add jaeger remote sampler to SDK configuration"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1791

[2021-08-03 00:17] #242 closed

[2021-08-03 00:17] #293 closed

[2021-08-03 03:28] LanceEa commented on #591
@TommyCpp  - I can grab this one, if no one has yet.

It looks like it will be removed from `opentelemetry-proto` 3 months from July 1st so around September.

https://github.com/open-telemetry/opentelemetry-proto/blob/60fa8754d890b5c55949a8c68dcfd7ab5c2395df/opentelemetry/proto/metrics/v1/metrics.proto#L314

[2021-08-03 14:06] TommyCpp commented on #591
Sounds good. I think I did something similar a few months ago. Mostly update the proto-generated files and our transformation between types.

[2021-08-04 04:59] jtescher opened #610 "Change OTLP/HTTP port from 4317 to 4318"
See the spec change for details https://github.com/open-telemetry/opentelemetry-specification/pull/1839

[2021-08-04 14:36] LanceEa commented on #610
FYI...looks like they might back track on this spec change.

https://github.com/open-telemetry/opentelemetry-specification/pull/1847

[2021-08-05 00:57] #591 closed

[2021-08-05 17:54] nappa85 opened #611 "NewRelic OTLP problem"
Hello there,
I'm having some problems using opentelemetry-otlp to send data to NewRelic, I'm almost sure it's a server problem but they insists I have to ask for help here, so here I am...

As of their docs https://docs-preview.newrelic.com/docs/otlp-native-ingest, NewRelic needs gRPC with TLS and the api-key must be in an header value.

I've tried both Tonic and grpcio code, with the same results

[2021-08-06 10:25] flavio commented on #596
@TommyCpp do you have any idea about when a new release of opentelemetry-otlp which includes this fix will be tagged?

The v0.8.0 release doesn't include it yet

[2021-08-06 14:26] TommyCpp commented on #596
@jtescher Maybe we should cut a new release as it has been a while since the last release?

[2021-08-06 17:46] jtescher commented on #610
reverted

[2021-08-06 17:46] #610 closed

[2021-08-06 17:47] jtescher commented on #596
@TommyCpp yeah let's get a new release out 👍

You can get a release PR ready if you want, else I will do it later today or this weekend

[2021-08-07 20:19] TommyCpp commented on #611
I feel like there is something going on so that the metadata header is not set up correctly. Let me take a look tonight

[2021-08-08 10:00] ahmadrgb1 commented on #611
i am having exactly the same error, i have a java based services instrumented with opentelemetry. while trying to push spans to newrelic endpoint, i can see the following log
`io.opentelemetry.exporter.otlp.trace.OtlpGrpcSpanExporter - Failed to export spans. Error message: UNAUTHENTICATED: 403 Forbidden`

[2021-08-09 01:47] TommyCpp commented on #611
@nappa85 Sorry it took a while, I have tried something around. With tonic, I would suggest remove `with_channel` and use `https://otlp.eu01.nr-data.net:4317` for `with_endpoint` function. So the config should look like
[code]
Also double-check the URL you are using. I see the new relic has two URLs, one for the US, one for the EU. Make sure it's consistent with where your data is stored. I ran int

[2021-08-09 07:37] nappa85 commented on #611
@TommyCpp just made a test, removing channel hasn't sorted any change, but pointing to the US endpoint works.
It's kind of confusing, because I was pretty sure Italy is still in the EU, but maybe newrelic knows something about geopolitics I don't know...

I made some more tests, the "https://" at the beginning of the URL isn't needed, more it works also with channel.
It was only the endpoint, mayb

[2021-08-10 23:54] stefvic opened #613 "precommit.sh fail on main branch due to recent protobuf version released"
[code]

[2021-08-11 05:19] #613 closed

[2021-08-11 09:39] #611 closed

[2021-08-11 09:51] nappa85 opened #615 "Docs outdated, missing OTLP metrics example"
On new opentelemetry-otlp release a split between tracing and metrics has been underlined with new OtlpPipeline design.
The docs hasn't been updated, for example the new_pipeline() function still reports calling .with_tonic() on it's output, like in the old version.
More, it would be really welcomed to have the Kitchen Sync example comprehend also a metrics configuration, or at least an example on

[2021-08-12 00:14] jtescher opened #616 "Add instrumentation libraty to `should_sample`"
See spec change for details: https://github.com/open-telemetry/opentelemetry-specification/pull/1850

[2021-08-12 10:27] dorrabb opened #617 "OpenTelemetry trace error: ConnectError"
Hello,

The use of the OpenTelemetry crate to send logs to datadog produces logs with the following error every now and then:

`OpenTelemetry trace error occurred Other(Custom("failed to export batch Other(reqwest::Error { kind: Request, url: Url { scheme: \"http\", cannot_be_a_base: false, username: \"\", password: None, host: Some(Domain(\"datadog-agent\")), port: Some(8126), path: \"/v0.5/trace

[2021-08-12 23:52] DCjanus commented on #545
From [this line](https://github.com/open-telemetry/opentelemetry-rust/blob/ae4aeb364cd7054fe43a6fee8d340b6959624f3c/opentelemetry-jaeger/src/exporter/agent.rs#L71), looks like the only way to known actual size of payload, is actual write batch to buffer.

That means, to split oversized batches, maybe we have to code like this:

[code]

I'm not sure is this ok

[2021-08-13 00:26] jtescher commented on #545
@DCjanus yes that looks like the right approach

[2021-08-13 02:38] #557 closed

[2021-08-17 15:32] #615 closed

[2021-08-18 23:18] davidarmstronglewis opened #620 "AWS Lambda: recommendations?"
I'm trying to get started with using opentelemetry to instrument some Rust Lambdas I'm running in AWS by pushing traces to DataDog. It looks like the examples are assuming I have an exporter running as a sidecar container reachable on the local network. That doesn't make as much sense in the context of AWS Lambda. Does anyone have any suggestions of where to start or where I can look for guidance?

[2021-08-20 00:33] TommyCpp commented on #617
Sorry for the late response, I think the error is `failed to lookup address information: Name does not resolve`. I would suggest double-checking the data dog agent to make sure it's accessible from the application. Other than that, the code looks good to me.

[2021-08-20 00:40] TommyCpp commented on #620
The Rust SDKs only require an endpoint that supports the datadog protocol and is accessible from the application to push spans. So you don't necessarily have to run an exporter/agent.

[2021-08-23 01:56] #545 closed

[2021-08-24 21:26] davidarmstronglewis commented on #620
Ah, so there's a way to push spans directly to DataDog - cool! I'll close this issue then as it seems this is supported. It probably requires setting an API Key to be provided via a header, if you happen to know where to provide this I'd love to know.

Closing, and thank you.

[2021-08-24 21:26] #620 closed

[2021-08-29 22:52] maxcountryman opened #623 "Cannot use gRPC roots on macOS"
Hello,

It seems the [`opentelemetry-otlp` example](https://github.com/open-telemetry/opentelemetry-rust/blob/a0899d9ed595343e9d4eb2dbd994235dedb501ed/examples/external-otlp-grpcio-async-std/src/main.rs) involving e.g. Honeycomb aren't working on macOS and result in an error something along the lines of:

[code]

Indeed, `/usr/share/grpc/roots.pem` does not exist; gRPC was installed with Homebrew

[2021-08-30 20:01] seanpianka opened #624 "Example usage of _tracing and _prometheus?"
Hello 👋 An application I'm working on is instrumented with `tracing::instrument`, and now I'm trying to hook in `opentelemetry_tracing` and `opentelemetry_prometheus` to send metrics data regarding all the spans/events of my application to Prometheus (so that they could be visualized in Grafana).

Are there any examples of this integration available in this repo? My search has come up with nothing

[2021-08-31 01:27] TommyCpp commented on #623
👋 Hello, could you try set the `GRPC_DEFAULT_SSL_ROOTS_FILE_PATH` env var and see if it can override the path?

[2021-08-31 01:28] TommyCpp commented on #617
Looks like there are no further questions here. If there is, please feel free to reopen this issue with questions. Thanks.

[2021-08-31 01:28] #617 closed

[2021-08-31 01:33] TommyCpp commented on #624
Please correct me if I understand it incorrectly. But Prometheus cannot handle spans data. Prometheus collects `metrics` data while spans belong to `tracing`.

Grafana used to be a dashboard for metrics data. But I believe they developed a project called `Tempo` to allow Grafana to show spans as well. But you still need to collect metrics and spans somehow. Some tools like `opentelemetry-collector

[2021-08-31 03:03] bjchambers opened #625 "Add trace-id as a field for other tracing layers"
I'm trying to set logging and tracing up for use with Grafana Loki and Grafana Tempo. I'd like to be able to get the otel Trace ID and include it in the logs. I don't see any way to do this.

I'm using:

* `tracing` - to create spans / events within my Rust code
* `tracing-subscriber` to add two subscribers, including one to format logs as JSON.
* `tracing-opentelemetry` to use opentelemetry as a

[2021-08-31 15:38] TommyCpp commented on #625
Generally, it's not possible directly. Without `tracing`, you can get the current span by `get_active_span` method. With `tracing`. Things may be a little complicated. The end goal is to build the log part of opentelemetry here but it may be worth it to explore the option to include trace id and span id in tracing's JSON subscribers.

Personally, I found method 1 should be most reasonable but may

[2021-08-31 16:22] jtescher commented on #625
Not sure that there is a great way of doing this currently, you can manually get an otel context from tracing via [Span::current().context()](https://docs.rs/tracing-opentelemetry/0.15.0/tracing_opentelemetry/trait.OpenTelemetrySpanExt.html#tymethod.context) and then get the id via [context.span().span_context().trace_id()](https://docs.rs/opentelemetry/0.16.0/opentelemetry/trace/trait.TraceContex

[2021-08-31 16:36] bjchambers commented on #625
Would it be possible to add some kind of hook to the log formatter or the log layer that retrieved additional fields? Then I could use that to add a hook that retrieved the otel trace and added that when formatting.

[2021-09-01 01:29] TommyCpp commented on #625
That sounds like an interesting topic to explore. We could try something on the `tracing` side

[2021-09-01 21:51] bjchambers commented on #625
Filed an issue in `tracing` to see if this would be possible to add over there.

[2021-09-02 22:40] Sushisource opened #627 "Publish protobuf conversions as their own crate or otherwise expose"
I have a usecase where I've written a Rust lib that is used by a variety of other languages to create a single worker process. I don't want to require my users to run the OTel collector when they are running our workers, but I do have a need to propagate spans and metrics from the Rust library, to the <lang> library where they can they be exported by the user's choice of exporter.

Seemingly, the

[2021-09-11 00:07] Sushisource opened #628 "Prometheus exporter implies it will run a server, but doesn't"
The prom exporter options imply it will run a server. After all, it exposes options to configure a port, host, etc: https://docs.rs/opentelemetry-prometheus/0.9.0/opentelemetry_prometheus/struct.ExporterBuilder.html#method.with_port

It doesn't do that, though, which is deeply confusing combined with the lack of top-level documentation. It makes sense why it doesn't run a server. You'd need to pul

[2021-09-11 16:52] TommyCpp commented on #628
The spec provides two env vars https://github.com/open-telemetry/opentelemetry-specification/pull/1021 to allow users to specify the port and host. We intended to save the value of the `host` and `port` into exporter so that users can use those later.

Docs updates are always welcome. Feel free to open a PR

[2021-09-13 22:00] Sushisource opened #629 "Bound versions of metrics are difficult to use because of (seemingly uneeded) lifetime paramters"
The `BoundXXX` versions of metrics structs are rather difficult to use in practice because they require lifetime annotations, and as a result can't be stored inside of other structs without infecting them with lifetime annotations or only ever allowing `'static` bindings.

On top of that, the lifetime annotations are for a field that doesn't even seem to be used. Using `BoundCounter` as an example